flows.json.bak
[
    {
        "id": "d5158039611d4b98",
        "type": "tab",
        "label": "CREATE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d35afda971f87177",
        "type": "tab",
        "label": "REFRESH",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0840e5d7cd65ea0",
        "type": "tab",
        "label": "RECREATE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "47309e7eb1ed7972",
        "type": "tab",
        "label": "RESTART",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "64ed409ae244327b",
        "type": "tab",
        "label": "DELETE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "15790c4c601c21e4",
        "type": "tab",
        "label": "WEBHOOK",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21d6665eb37042e8",
        "type": "tab",
        "label": "MGMT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "subflow_apply_proxy",
        "type": "subflow",
        "name": "Apply proxy",
        "info": "Applies the selected profile proxy to Node-RED HTTP requests and disables TLS certificate verification for NetBox calls.",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "subflow_apply_proxy_change"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 80,
                "wires": [
                    {
                        "id": "subflow_apply_proxy_change",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "subflow_apply_proxy_change",
        "type": "change",
        "z": "subflow_apply_proxy",
        "name": "apply proxy settings",
        "rules": [
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "proxyValue",
                "pt": "msg",
                "to": "msg.proxy ? msg.proxy : (msg.payload.proxy ? msg.payload.proxy : \"\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "proxyEnv.http_proxy",
                "pt": "global",
                "to": "proxyValue",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "proxyEnv.https_proxy",
                "pt": "global",
                "to": "proxyValue",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "proxyEnv.HTTP_PROXY",
                "pt": "global",
                "to": "proxyValue",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "proxyEnv.HTTPS_PROXY",
                "pt": "global",
                "to": "proxyValue",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "proxyValue",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f05b71c9da3eac07",
        "type": "http in",
        "z": "d5158039611d4b98",
        "name": "",
        "url": "/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "65a29b0cc15fece2",
                "2dcca2a38409fe43"
            ]
        ]
    },
    {
        "id": "2dcca2a38409fe43",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox ? config.netbox : (req.query.netbox ? req.query.netbox : $globalContext(\"config\").netbox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token ? config.token : (req.query.token ? req.query.token : $globalContext(\"config\").token)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "proxy",
                "pt": "msg",
                "to": "config.proxy ? config.proxy : (req.query.proxy ? req.query.proxy : $globalContext(\"config\").proxy)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "hostname",
                "pt": "msg",
                "to": "config.hostname",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "version",
                "pt": "msg",
                "to": "config.version",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "network",
                "pt": "msg",
                "to": "config.network",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "var_env_key",
                "pt": "msg",
                "to": "config.var_env_key",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "var_env_value",
                "pt": "msg",
                "to": "config.var_env_value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "label_key",
                "pt": "msg",
                "to": "config.label_key",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "label_value",
                "pt": "msg",
                "to": "config.label_value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "volume_source",
                "pt": "msg",
                "to": "config.volume_source",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "volume_name",
                "pt": "msg",
                "to": "config.volume_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "instance",
                "pt": "msg",
                "to": "config.instance",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "instanceShort",
                "pt": "msg",
                "to": "($contains(msg.instance, \".\") ? $substringBefore(msg.instance, \".\") : msg.instance)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "instanceZone",
                "pt": "msg",
                "to": "$substringAfter(msg.instance, \".\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "config.image",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "http",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 220,
        "wires": [
            [
                "458387080417f52a",
                "c9baa00a19d15c11"
            ]
        ]
    },
    {
        "id": "458387080417f52a",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "get hostid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/hosts/?name=\" & msg.hostname",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "apply_proxy_73f3e5f34c6f1b39"
            ]
        ]
    },
    {
        "id": "73f3e5f34c6f1b39",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 980,
        "y": 220,
        "wires": [
            [
                "c251aba3024d56f3"
            ]
        ]
    },
    {
        "id": "c251aba3024d56f3",
        "type": "switch",
        "z": "d5158039611d4b98",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1220,
        "y": 220,
        "wires": [
            [
                "c023f5d33cc1a8f6"
            ],
            []
        ]
    },
    {
        "id": "c023f5d33cc1a8f6",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "get imageid",
        "rules": [
            {
                "t": "set",
                "p": "host_id",
                "pt": "msg",
                "to": "payload.results[0].id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?name=\" & msg.image & \"&version=\" & msg.version & \"&host_id=\" & msg.host_id",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 220,
        "wires": [
            [
                "apply_proxy_01e92d6b0fcb76bf"
            ]
        ]
    },
    {
        "id": "01e92d6b0fcb76bf",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "62e25cd5752991bc"
            ]
        ]
    },
    {
        "id": "62e25cd5752991bc",
        "type": "switch",
        "z": "d5158039611d4b98",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "3cf9824c67655d6f"
            ],
            []
        ]
    },
    {
        "id": "b2b06675311655f7",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "configure container",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"host\": msg.host_id,\t   \"name\": msg.instanceShort,\t   \"image\": msg.input.results[0].id,\t   \"restart_policy\": \"unless-stopped\"\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 380,
        "wires": [
            [
                "apply_proxy_9f73f45cd7734d7f"
            ]
        ]
    },
    {
        "id": "9f73f45cd7734d7f",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 690,
        "y": 380,
        "wires": [
            [
                "21f97ac5da6a1ea8"
            ]
        ]
    },
    {
        "id": "6d6c5f8c0e8bc79a",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "recreate container",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"operation\": \"recreate\",\t       \"id\": msg.container.id\t   }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 480,
        "wires": [
            [
                "apply_proxy_e0ec5be02bee7c3e"
            ]
        ]
    },
    {
        "id": "e0ec5be02bee7c3e",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1150,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3cf9824c67655d6f",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "create volume",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/volumes/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\n  $defaultVolumes := [\n    {\n      \"host\": msg.host_id,\n      \"name\": msg.instanceShort & \"-data\"\n    }\n  ];\n  $formVolumes := $type(msg.volume_name) = \"array\" ? $append([], $filter($map(msg.volume_name, function($name) {\n    {\n      \"host\": msg.host_id,\n      \"name\": $name\n    }\n  }), function($volume) { $volume.name })) : (msg.volume_name ? [\n    {\n      \"host\": msg.host_id,\n      \"name\": msg.volume_name\n    }\n  ] : []);\n  $volumes := $count($formVolumes) > 0 ? $formVolumes : $defaultVolumes;\n  $count($volumes) = 1 ? $volumes[0] : $volumes\n)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 300,
        "wires": [
            [
                "apply_proxy_1233e36c1ed40b2c"
            ]
        ]
    },
    {
        "id": "1233e36c1ed40b2c",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1370,
        "y": 300,
        "wires": [
            [
                "6692eaed65e25767"
            ]
        ]
    },
    {
        "id": "21f97ac5da6a1ea8",
        "type": "delay",
        "z": "d5158039611d4b98",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 930,
        "y": 380,
        "wires": [
            [
                "1d13b67923d9a132"
            ]
        ]
    },
    {
        "id": "ed7ddb2630845e28",
        "type": "delay",
        "z": "d5158039611d4b98",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "6d6c5f8c0e8bc79a"
            ]
        ]
    },
    {
        "id": "ddfa991fa8e68500",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1650,
        "y": 380,
        "wires": [
            [
                "ed7ddb2630845e28"
            ]
        ]
    },
    {
        "id": "2bc10654858e4154",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "zoneid",
                "pt": "msg",
                "to": "payload.results[0].id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/cloudflare/dns/records/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t  \"zone\": msg.zoneid,\t  \"name\": msg.instance,\t  \"type\": \"CNAME\",\t  \"content\": msg.hostname & \".\" & msg.instanceZone,\t  \"ttl\": 60,\t  \"proxied\": true\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 160,
        "wires": [
            [
                "apply_proxy_9a0bc1c9cbbaf0e2"
            ]
        ]
    },
    {
        "id": "9a0bc1c9cbbaf0e2",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c9baa00a19d15c11",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "get recordid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/cloudflare/dns/accounts/?name=\" & msg.instanceZone",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "apply_proxy_b649b3aae6375b6d"
            ]
        ]
    },
    {
        "id": "b649b3aae6375b6d",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 930,
        "y": 160,
        "wires": [
            [
                "08a921bf4f9a4dc0"
            ]
        ]
    },
    {
        "id": "08a921bf4f9a4dc0",
        "type": "switch",
        "z": "d5158039611d4b98",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "2bc10654858e4154"
            ],
            []
        ]
    },
    {
        "id": "1d13b67923d9a132",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "configure container",
        "rules": [
            {
                "t": "set",
                "p": "container",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "volume",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\n  $defaultMounts := [\n    {\n      \"source\": \"/app/data\",\n      \"volume\": {\n        \"name\": msg.instanceShort & \"-data\"\n      },\n      \"read_only\": false\n    }\n  ];\n  $formMounts := $type(msg.volume_source) = \"array\" ? $append([], $filter($map(msg.volume_source, function($source, $i) {\n    {\n      \"source\": $source,\n      \"volume\": {\n        \"name\": msg.volume_name[$i]\n      },\n      \"read_only\": false\n    }\n  }), function($mount) { $mount.source and $mount.volume.name })) : (msg.volume_source and msg.volume_name ? [\n    {\n      \"source\": msg.volume_source,\n      \"volume\": {\n        \"name\": msg.volume_name\n      },\n      \"read_only\": false\n    }\n  ] : []);\n  $env := $type(msg.var_env_key) = \"array\" ? $append([], $filter($map(msg.var_env_key, function($key, $i) {\n    {\n      \"var_name\": $key,\n      \"value\": msg.var_env_value[$i]\n    }\n  }), function($item) { $item.var_name })) : (msg.var_env_key ? [\n    {\n      \"var_name\": msg.var_env_key,\n      \"value\": msg.var_env_value\n    }\n  ] : []);\n  $baseLabels := [\n    {\n      \"key\": \"traefik.enable\",\n      \"value\": \"true\"\n    },\n    {\n      \"key\": \"traefik.http.routers.\" & msg.instanceShort & \".rule\",\n      \"value\": \"Host(`\" & msg.instance & \"`)\"\n    },\n    {\n      \"key\": \"traefik.http.routers.\" & msg.instanceShort & \".entrypoints\",\n      \"value\": \"http\"\n    },\n    {\n      \"key\": \"traefik.http.services.\" & msg.instanceShort & \".loadbalancer.server.port\",\n      \"value\": \"3000\"\n    },\n    {\n      \"key\": \"traefik.http.middlewares.force-https-header.headers.customrequestheaders.X-Forwarded-Proto\",\n      \"value\": \"https\"\n    },\n    {\n      \"key\": \"traefik.http.middlewares.\" & msg.instanceShort & \".ipallowlist.sourcerange\",\n      \"value\": \"173.245.48.0/20, 103.21.244.0/22, 103.22.200.0/22, 103.31.4.0/22, 141.101.64.0/18, 108.162.192.0/18, 190.93.240.0/20, 188.114.96.0/20, 197.234.240.0/22, 198.41.128.0/17, 162.158.0.0/15, 104.16.0.0/13, 104.24.0.0/14, 172.64.0.0/13, 131.0.72.0/22, 2400:cb00::/32, 2606:4700::/32, 2803:f800::/32, 2405:b500::/32, 2405:8100::/32, 2a06:98c0::/29, 2c0f:f248::/32\"\n    },\n    {\n      \"key\": \"traefik.http.routers.\" & msg.instanceShort & \".middlewares\",\n      \"value\": \"force-https-header,\" & msg.instanceShort\n    }\n  ];\n  $extraLabels := $type(msg.label_key) = \"array\" ? $append([], $filter($map(msg.label_key, function($key, $i) {\n    {\n      \"key\": $key,\n      \"value\": msg.label_value[$i]\n    }\n  }), function($label) { $label.key })) : (msg.label_key ? [\n    {\n      \"key\": msg.label_key,\n      \"value\": msg.label_value\n    }\n  ] : []);\n  [\n    {\n      \"id\": msg.container.id,\n      \"host\": msg.host_id,\n      \"network_settings\": [\n        {\n          \"network\": {\n            \"host\": msg.host_id,\n            \"name\": msg.network\n          }\n        }\n      ],\n      \"mounts\": $count($formMounts) > 0 ? $formMounts : $defaultMounts,\n      \"env\": $env,\n      \"labels\": $append($baseLabels, $extraLabels)\n    }\n  ]\n)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 380,
        "wires": [
            [
                "apply_proxy_ddfa991fa8e68500"
            ]
        ]
    },
    {
        "id": "65a29b0cc15fece2",
        "type": "http response",
        "z": "d5158039611d4b98",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "6692eaed65e25767",
        "type": "delay",
        "z": "d5158039611d4b98",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1580,
        "y": 300,
        "wires": [
            [
                "b2b06675311655f7"
            ]
        ]
    },
    {
        "id": "apply_proxy_73f3e5f34c6f1b39",
        "type": "subflow:subflow_apply_proxy",
        "z": "d5158039611d4b98",
        "name": "apply proxy",
        "x": 740,
        "y": 220,
        "wires": [
            [
                "73f3e5f34c6f1b39"
            ]
        ]
    },
    {
        "id": "apply_proxy_01e92d6b0fcb76bf",
        "type": "subflow:subflow_apply_proxy",
        "z": "d5158039611d4b98",
        "name": "apply proxy",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "01e92d6b0fcb76bf"
            ]
        ]
    },
    {
        "id": "apply_proxy_9f73f45cd7734d7f",
        "type": "subflow:subflow_apply_proxy",
        "z": "d5158039611d4b98",
        "name": "apply proxy",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "9f73f45cd7734d7f"
            ]
        ]
    },
    {
        "id": "apply_proxy_e0ec5be02bee7c3e",
        "type": "subflow:subflow_apply_proxy",
        "z": "d5158039611d4b98",
        "name": "apply proxy",
        "x": 910,
        "y": 480,
        "wires": [
            [
                "e0ec5be02bee7c3e"
            ]
        ]
    },
    {
        "id": "apply_proxy_1233e36c1ed40b2c",
        "type": "subflow:subflow_apply_proxy",
        "z": "d5158039611d4b98",
        "name": "apply proxy",
        "x": 1130,
        "y": 300,
        "wires": [
            [
                "1233e36c1ed40b2c"
            ]
        ]
    },
    {
        "id": "apply_proxy_ddfa991fa8e68500",
        "type": "subflow:subflow_apply_proxy",
        "z": "d5158039611d4b98",
        "name": "apply proxy",
        "x": 1410,
        "y": 380,
        "wires": [
            [
                "ddfa991fa8e68500"
            ]
        ]
    },
    {
        "id": "apply_proxy_9a0bc1c9cbbaf0e2",
        "type": "subflow:subflow_apply_proxy",
        "z": "d5158039611d4b98",
        "name": "apply proxy",
        "x": 1530,
        "y": 160,
        "wires": [
            [
                "9a0bc1c9cbbaf0e2"
            ]
        ]
    },
    {
        "id": "apply_proxy_b649b3aae6375b6d",
        "type": "subflow:subflow_apply_proxy",
        "z": "d5158039611d4b98",
        "name": "apply proxy",
        "x": 710,
        "y": 160,
        "wires": [
            [
                "b649b3aae6375b6d"
            ]
        ]
    },
    {
        "id": "refresh_hosts_http_in",
        "type": "http in",
        "z": "d35afda971f87177",
        "name": "",
        "url": "/refresh-hosts",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "refresh_hosts_http_response",
                "refresh_hosts_prepare"
            ]
        ]
    },
    {
        "id": "refresh_hosts_http_response",
        "type": "http response",
        "z": "d35afda971f87177",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "refresh_hosts_prepare",
        "type": "change",
        "z": "d35afda971f87177",
        "name": "get docker hosts",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox ? config.netbox : (req.query.netbox ? req.query.netbox : $globalContext(\"config\").netbox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token ? config.token : (req.query.token ? req.query.token : $globalContext(\"config\").token)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "proxy",
                "pt": "msg",
                "to": "config.proxy ? config.proxy : (req.query.proxy ? req.query.proxy : $globalContext(\"config\").proxy)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/hosts/?limit=1000\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Accept\": \"application/json\"\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 80,
        "wires": [
            [
                "apply_proxy_refresh_hosts_get_request"
            ]
        ]
    },
    {
        "id": "refresh_hosts_get_request",
        "type": "http request",
        "z": "d35afda971f87177",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 810,
        "y": 80,
        "wires": [
            [
                "refresh_hosts_has_results"
            ]
        ]
    },
    {
        "id": "refresh_hosts_has_results",
        "type": "switch",
        "z": "d35afda971f87177",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 80,
        "wires": [
            [
                "refresh_hosts_results"
            ],
            [
                "refresh_hosts_empty_log"
            ]
        ]
    },
    {
        "id": "refresh_hosts_results",
        "type": "change",
        "z": "d35afda971f87177",
        "name": "set hosts",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "wait_timeout",
                "pt": "msg",
                "to": "$number($globalContext(\"operationTimeoutSeconds\") ? $globalContext(\"operationTimeoutSeconds\") : 30)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 80,
        "wires": [
            [
                "refresh_hosts_split"
            ]
        ]
    },
    {
        "id": "refresh_hosts_split",
        "type": "split",
        "z": "d35afda971f87177",
        "name": "split hosts",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1340,
        "y": 80,
        "wires": [
            [
                "refresh_hosts_rate_limit"
            ]
        ]
    },
    {
        "id": "refresh_hosts_patch_prepare",
        "type": "change",
        "z": "d35afda971f87177",
        "name": "refresh host",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/hosts/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "wait_id",
                "pt": "msg",
                "to": "host.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "wait_name",
                "pt": "msg",
                "to": "host.display ? host.display : host.name",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "wait_timeout",
                "pt": "msg",
                "to": "$number($globalContext(\"operationTimeoutSeconds\") ? $globalContext(\"operationTimeoutSeconds\") : 30)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"operation\": \"refresh\",\t       \"id\": msg.host.id\t   }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 160,
        "wires": [
            [
                "apply_proxy_refresh_hosts_patch_request"
            ]
        ]
    },
    {
        "id": "refresh_hosts_patch_request",
        "type": "http request",
        "z": "d35afda971f87177",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1170,
        "y": 240,
        "wires": [
            [
                "refresh_hosts_wait_prepare"
            ]
        ]
    },
    {
        "id": "refresh_hosts_log",
        "type": "change",
        "z": "d35afda971f87177",
        "name": "log host refresh",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" REFRESH_HOST : \" & (msg.host.display ? msg.host.display : msg.host.name) & \" \" & msg.statusCode & \"<br>\" & $globalContext(\"logs\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "refresh_hosts_empty_log",
        "type": "change",
        "z": "d35afda971f87177",
        "name": "log no hosts",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" REFRESH_HOST : no hosts found \" & msg.statusCode & \"<br>\" & $globalContext(\"logs\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "apply_proxy_refresh_hosts_get_request",
        "type": "subflow:subflow_apply_proxy",
        "z": "d35afda971f87177",
        "name": "apply proxy",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "refresh_hosts_get_request"
            ]
        ]
    },
    {
        "id": "apply_proxy_refresh_hosts_patch_request",
        "type": "subflow:subflow_apply_proxy",
        "z": "d35afda971f87177",
        "name": "apply proxy",
        "x": 970,
        "y": 240,
        "wires": [
            [
                "refresh_hosts_patch_request"
            ]
        ]
    },
    {
        "id": "refresh_hosts_rate_limit",
        "type": "function",
        "z": "d35afda971f87177",
        "name": "queue host refresh",
        "func": "const queue = context.get('queue') || [];\nlet busy = context.get('busy') || false;\n\nfunction next() {\n  if (queue.length === 0) {\n    context.set('busy', false);\n    context.set('queue', queue);\n    return null;\n  }\n\n  const nextMsg = queue.shift();\n  context.set('queue', queue);\n  context.set('busy', true);\n  return nextMsg;\n}\n\nif (msg._waitDone) {\n  if (msg._waitDone === 'timeout') {\n    context.set('queue', []);\n    context.set('busy', false);\n    return null;\n  }\n\n  context.set('busy', false);\n  return next();\n}\n\nqueue.push(msg);\ncontext.set('queue', queue);\n\nif (!busy) {\n  return next();\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "refresh_hosts_patch_prepare"
            ]
        ]
    },
    {
        "id": "refresh_hosts_wait_prepare",
        "type": "function",
        "z": "d35afda971f87177",
        "name": "wait host ready",
        "func": "const timeout = Number(msg.wait_timeout || 30);\nmsg.wait_deadline = msg.wait_deadline || (Date.now() + timeout * 1000);\nmsg.url = msg.netbox + '/api/plugins/docker/hosts/' + msg.wait_id + '/';\nmsg.headers = {\n  Authorization: 'Token ' + msg.token,\n  Accept: 'application/json'\n};\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 300,
        "wires": [
            [
                "refresh_hosts_apply_proxy_wait_get"
            ]
        ]
    },
    {
        "id": "refresh_hosts_apply_proxy_wait_get",
        "type": "subflow:subflow_apply_proxy",
        "z": "d35afda971f87177",
        "name": "apply proxy",
        "x": 1600,
        "y": 300,
        "wires": [
            [
                "refresh_hosts_wait_get"
            ]
        ]
    },
    {
        "id": "refresh_hosts_wait_get",
        "type": "http request",
        "z": "d35afda971f87177",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1820,
        "y": 300,
        "wires": [
            [
                "refresh_hosts_wait_check"
            ]
        ]
    },
    {
        "id": "refresh_hosts_wait_check",
        "type": "function",
        "z": "d35afda971f87177",
        "name": "host ready?",
        "func": "function valueOf(value) {\n  if (value && typeof value === 'object') {\n    return String(value.value || value.label || value.display || value.name || '').toLowerCase();\n  }\n  return String(value || '').toLowerCase();\n}\n\nconst item = msg.payload && Array.isArray(msg.payload.results) ? msg.payload.results[0] : msg.payload;\nconst name = msg.wait_name || (item && (item.display || item.name)) || msg.wait_id;\nconst operation = valueOf(item && item.operation);\nconst operationDone = !operation || operation === 'none' || operation === 'null';\n\nmsg.wait_name = name;\nmsg.wait_operation = operation || 'none';\n\nif (operationDone) {\n  return [msg, null, null];\n}\n\nif (Date.now() >= Number(msg.wait_deadline || 0)) {\n  return [null, null, msg];\n}\n\nreturn [null, msg, null];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 300,
        "wires": [
            [
                "refresh_hosts_wait_ready_log"
            ],
            [
                "refresh_hosts_wait_poll_delay"
            ],
            [
                "refresh_hosts_wait_timeout_log"
            ]
        ]
    },
    {
        "id": "refresh_hosts_wait_poll_delay",
        "type": "delay",
        "z": "d35afda971f87177",
        "name": "poll ready",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2030,
        "y": 370,
        "wires": [
            [
                "refresh_hosts_wait_prepare"
            ]
        ]
    },
    {
        "id": "refresh_hosts_wait_ready_log",
        "type": "function",
        "z": "d35afda971f87177",
        "name": "log ready",
        "func": "const logs = global.get('logs') || '';\nconst line = new Date().toISOString() + ' REFRESH_HOST : ' + (msg.wait_name || msg.wait_id) + ' ready<br>';\nglobal.set('logs', line + logs);\nmsg._waitDone = 'success';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2240,
        "y": 270,
        "wires": [
            [
                "refresh_hosts_rate_limit"
            ]
        ]
    },
    {
        "id": "refresh_hosts_wait_timeout_log",
        "type": "function",
        "z": "d35afda971f87177",
        "name": "log timeout",
        "func": "const logs = global.get('logs') || '';\nconst timeout = Number(msg.wait_timeout || 30);\nconst detail = msg.wait_status ? (' status=' + msg.wait_status + ' operation=' + msg.wait_operation) : (' operation=' + msg.wait_operation);\nconst line = new Date().toISOString() + ' REFRESH_HOST : ' + (msg.wait_name || msg.wait_id) + ' timeout after ' + timeout + 's' + detail + ', stopped<br>';\nglobal.set('logs', line + logs);\nmsg._waitDone = 'timeout';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2240,
        "y": 330,
        "wires": [
            [
                "refresh_hosts_rate_limit"
            ]
        ]
    },
    {
        "id": "6bc00df59f760543",
        "type": "http in",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "url": "/recreate",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "cde029ae5b763def",
                "04f9910eb4320af9"
            ]
        ]
    },
    {
        "id": "04f9910eb4320af9",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox ? config.netbox : (req.query.netbox ? req.query.netbox : $globalContext(\"config\").netbox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token ? config.token : (req.query.token ? req.query.token : $globalContext(\"config\").token)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "proxy",
                "pt": "msg",
                "to": "config.proxy ? config.proxy : (req.query.proxy ? req.query.proxy : $globalContext(\"config\").proxy)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "hostname",
                "pt": "msg",
                "to": "config.hostname",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "config.image",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "oldversion",
                "pt": "msg",
                "to": "config.oldversion",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "version",
                "pt": "msg",
                "to": "config.version",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "clean_name",
                "pt": "msg",
                "to": "config.clean_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "http",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 180,
        "wires": [
            [
                "d837a0475dee45dc"
            ]
        ]
    },
    {
        "id": "6d92be16bf5c58de",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "get container id",
        "rules": [
            {
                "t": "set",
                "p": "imageid",
                "pt": "msg",
                "to": "oldimageid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/?image_id=\" & msg.imageid & \"&limit=200\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 380,
        "wires": [
            [
                "apply_proxy_ebf4cf8587e41ce3"
            ]
        ]
    },
    {
        "id": "ebf4cf8587e41ce3",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1780,
        "y": 380,
        "wires": [
            [
                "798b4e154e88c606"
            ]
        ]
    },
    {
        "id": "798b4e154e88c606",
        "type": "switch",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 840,
        "y": 460,
        "wires": [
            [
                "bc5907aebb882d2a"
            ],
            []
        ]
    },
    {
        "id": "0cdd6dd2e06ff3ae",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "configure container",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   $merge(\t       [\t           {\t               \"id\": msg.payload.id,\t               \"image\": msg.newimageid    \t           },\t           (\t               msg.clean_name = true or msg.clean_name = \"true\" or msg.clean_name = \"on\"\t           ) ? {\t               \"name\": $replace(\t                   msg.payload.name ? msg.payload.name : msg.payload.display,\t                   /-17[0-9]{8,}$/,\t                   \"\"\t               )    \t           } : {}  \t       ]\t   )\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 460,
        "wires": [
            [
                "apply_proxy_a79cb768fa1fd609"
            ]
        ]
    },
    {
        "id": "a79cb768fa1fd609",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1290,
        "y": 520,
        "wires": [
            [
                "78be980cee8c08ab"
            ]
        ]
    },
    {
        "id": "78be980cee8c08ab",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "recreate container",
        "rules": [
            {
                "t": "set",
                "p": "results",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "wait_id",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "wait_name",
                "pt": "msg",
                "to": "payload.display ? payload.display : payload.name",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "wait_timeout",
                "pt": "msg",
                "to": "$number($globalContext(\"operationTimeoutSeconds\") ? $globalContext(\"operationTimeoutSeconds\") : 30)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"operation\": \"recreate\",\t       \"id\": msg.payload.id\t   }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 540,
        "wires": [
            [
                "apply_proxy_cd130deb569e8cb0"
            ]
        ]
    },
    {
        "id": "cd130deb569e8cb0",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1850,
        "y": 540,
        "wires": [
            [
                "recreate_wait_prepare"
            ]
        ]
    },
    {
        "id": "d837a0475dee45dc",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "get old imageid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?name=\" & msg.image & \"&version=\" & msg.oldversion & \"&limit=200\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "apply_proxy_3939693576595bc2"
            ]
        ]
    },
    {
        "id": "3939693576595bc2",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1120,
        "y": 180,
        "wires": [
            [
                "4a1bda7b502d8923"
            ]
        ]
    },
    {
        "id": "45e0558750363197",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 180,
        "wires": [
            [
                "8f600b6e9c76d581"
            ]
        ]
    },
    {
        "id": "4a1bda7b502d8923",
        "type": "switch",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1360,
        "y": 180,
        "wires": [
            [
                "45e0558750363197"
            ],
            []
        ]
    },
    {
        "id": "9d7a8062c6f83014",
        "type": "split",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1320,
        "y": 460,
        "wires": [
            [
                "677c1ef45acfb02d"
            ]
        ]
    },
    {
        "id": "bc5907aebb882d2a",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "$number($globalContext(\"operationTimeoutSeconds\") ? $globalContext(\"operationTimeoutSeconds\") : 30)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 460,
        "wires": [
            [
                "9d7a8062c6f83014",
                "3ddef8030d0b6ef5"
            ]
        ]
    },
    {
        "id": "3e60e0d59090800a",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "get new imageid",
        "rules": [
            {
                "t": "set",
                "p": "oldimage",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "oldimageid",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "host_id",
                "pt": "msg",
                "to": "payload.host.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "host_name",
                "pt": "msg",
                "to": "payload.host.display ? payload.host.display : payload.host.name",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?name=\" & msg.image & \"&version=\" & msg.version & \"&host_id=\" & msg.host_id",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "apply_proxy_b43091c7840cbd07"
            ]
        ]
    },
    {
        "id": "b43091c7840cbd07",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1080,
        "y": 260,
        "wires": [
            [
                "93b7140c9f5a21ef"
            ]
        ]
    },
    {
        "id": "1016efa8203a7ccc",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newimageid",
                "pt": "msg",
                "to": "payload.results[0].id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 260,
        "wires": [
            [
                "6d92be16bf5c58de"
            ]
        ]
    },
    {
        "id": "93b7140c9f5a21ef",
        "type": "switch",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1320,
        "y": 260,
        "wires": [
            [
                "1016efa8203a7ccc"
            ],
            [
                "recreate_create_versioned_image"
            ]
        ]
    },
    {
        "id": "677c1ef45acfb02d",
        "type": "function",
        "z": "a0840e5d7cd65ea0",
        "name": "queue recreate containers",
        "func": "const queue = context.get('queue') || [];\nlet busy = context.get('busy') || false;\n\nfunction next() {\n  if (queue.length === 0) {\n    context.set('busy', false);\n    context.set('queue', queue);\n    return null;\n  }\n\n  const nextMsg = queue.shift();\n  context.set('queue', queue);\n  context.set('busy', true);\n  return nextMsg;\n}\n\nif (msg._waitDone) {\n  if (msg._waitDone === 'timeout') {\n    context.set('queue', []);\n    context.set('busy', false);\n    return null;\n  }\n\n  context.set('busy', false);\n  return next();\n}\n\nqueue.push(msg);\ncontext.set('queue', queue);\n\nif (!busy) {\n  return next();\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 460,
        "wires": [
            [
                "0cdd6dd2e06ff3ae"
            ]
        ]
    },
    {
        "id": "cde029ae5b763def",
        "type": "http response",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "3ddef8030d0b6ef5",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" RECREATE  : \" & $string($count(msg.payload)) & \"<br>\" & msg.logs",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "090a84d8dfd47125",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" RECREATE  : \" & $string(msg.payload.display) & \" \" & msg.statusCode & \"<br>\" & msg.logs",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "79748666b38039f8",
        "type": "link in",
        "z": "a0840e5d7cd65ea0",
        "name": "Recreate",
        "links": [
            "0fa3ca525b84162f"
        ],
        "x": 160,
        "y": 180,
        "wires": [
            [
                "04f9910eb4320af9"
            ]
        ]
    },
    {
        "id": "8f600b6e9c76d581",
        "type": "split",
        "z": "a0840e5d7cd65ea0",
        "name": "split old images",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "3e60e0d59090800a"
            ]
        ]
    },
    {
        "id": "apply_proxy_ebf4cf8587e41ce3",
        "type": "subflow:subflow_apply_proxy",
        "z": "a0840e5d7cd65ea0",
        "name": "apply proxy",
        "x": 1540,
        "y": 380,
        "wires": [
            [
                "ebf4cf8587e41ce3"
            ]
        ]
    },
    {
        "id": "apply_proxy_a79cb768fa1fd609",
        "type": "subflow:subflow_apply_proxy",
        "z": "a0840e5d7cd65ea0",
        "name": "apply proxy",
        "x": 2040,
        "y": 460,
        "wires": [
            [
                "a79cb768fa1fd609"
            ]
        ]
    },
    {
        "id": "apply_proxy_cd130deb569e8cb0",
        "type": "subflow:subflow_apply_proxy",
        "z": "a0840e5d7cd65ea0",
        "name": "apply proxy",
        "x": 1690,
        "y": 540,
        "wires": [
            [
                "cd130deb569e8cb0"
            ]
        ]
    },
    {
        "id": "apply_proxy_3939693576595bc2",
        "type": "subflow:subflow_apply_proxy",
        "z": "a0840e5d7cd65ea0",
        "name": "apply proxy",
        "x": 880,
        "y": 180,
        "wires": [
            [
                "3939693576595bc2"
            ]
        ]
    },
    {
        "id": "apply_proxy_b43091c7840cbd07",
        "type": "subflow:subflow_apply_proxy",
        "z": "a0840e5d7cd65ea0",
        "name": "apply proxy",
        "x": 840,
        "y": 260,
        "wires": [
            [
                "b43091c7840cbd07"
            ]
        ]
    },
    {
        "id": "recreate_create_versioned_image",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "create versioned image",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"host\": msg.oldimage.host.id,\t   \"name\": msg.image,\t   \"version\": msg.version,\t   \"registry\": msg.oldimage.registry.id\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "apply_proxy_recreate_create_versioned_image"
            ]
        ]
    },
    {
        "id": "apply_proxy_recreate_create_versioned_image",
        "type": "subflow:subflow_apply_proxy",
        "z": "a0840e5d7cd65ea0",
        "name": "apply proxy",
        "x": 710,
        "y": 320,
        "wires": [
            [
                "recreate_create_versioned_image_request"
            ]
        ]
    },
    {
        "id": "recreate_create_versioned_image_request",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 340,
        "y": 380,
        "wires": [
            [
                "recreate_versioned_image_created"
            ]
        ]
    },
    {
        "id": "recreate_versioned_image_created",
        "type": "switch",
        "z": "a0840e5d7cd65ea0",
        "name": "image created?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "recreate_log_image_create_success"
            ],
            [
                "recreate_log_image_create_failure"
            ]
        ]
    },
    {
        "id": "recreate_log_image_create_success",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "log image create success",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "newimageid",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" PULL_IMAGE : \" & msg.image & \":\" & msg.version & \" on \" & msg.host_name & \" requested \" & msg.statusCode & \"<br>\" & msg.logs",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 380,
        "wires": [
            [
                "recreate_wait_after_image_create"
            ]
        ]
    },
    {
        "id": "recreate_wait_after_image_create",
        "type": "delay",
        "z": "a0840e5d7cd65ea0",
        "name": "wait image pull",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1060,
        "y": 380,
        "wires": [
            [
                "6d92be16bf5c58de"
            ]
        ]
    },
    {
        "id": "recreate_log_image_create_failure",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "log image create failure",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" PULL_IMAGE : \" & msg.image & \":\" & msg.version & \" on \" & msg.host_name & \" failed \" & msg.statusCode & \"<br>\" & msg.logs",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "recreate_wait_prepare",
        "type": "function",
        "z": "a0840e5d7cd65ea0",
        "name": "wait container ready",
        "func": "const timeout = Number(msg.wait_timeout || 30);\nmsg.wait_deadline = msg.wait_deadline || (Date.now() + timeout * 1000);\nmsg.url = msg.netbox + '/api/plugins/docker/containers/' + msg.wait_id + '/';\nmsg.headers = {\n  Authorization: 'Token ' + msg.token,\n  Accept: 'application/json'\n};\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 620,
        "wires": [
            [
                "recreate_apply_proxy_wait_get"
            ]
        ]
    },
    {
        "id": "recreate_apply_proxy_wait_get",
        "type": "subflow:subflow_apply_proxy",
        "z": "a0840e5d7cd65ea0",
        "name": "apply proxy",
        "x": 2320,
        "y": 620,
        "wires": [
            [
                "recreate_wait_get"
            ]
        ]
    },
    {
        "id": "recreate_wait_get",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 2540,
        "y": 620,
        "wires": [
            [
                "recreate_wait_check"
            ]
        ]
    },
    {
        "id": "recreate_wait_check",
        "type": "function",
        "z": "a0840e5d7cd65ea0",
        "name": "container ready?",
        "func": "function valueOf(value) {\n  if (value && typeof value === 'object') {\n    return String(value.value || value.label || value.display || value.name || '').toLowerCase();\n  }\n  return String(value || '').toLowerCase();\n}\n\nconst item = msg.payload && Array.isArray(msg.payload.results) ? msg.payload.results[0] : msg.payload;\nconst name = msg.wait_name || (item && (item.display || item.name)) || msg.wait_id;\nconst status = valueOf(item && item.status);\nconst operation = valueOf(item && item.operation);\nconst operationDone = !operation || operation === 'none' || operation === 'null';\nconst ready = status === 'running' && operationDone;\n\nmsg.wait_name = name;\nmsg.wait_status = status || 'unknown';\nmsg.wait_operation = operation || 'none';\n\nif (ready) {\n  return [msg, null, null];\n}\n\nif (Date.now() >= Number(msg.wait_deadline || 0)) {\n  return [null, null, msg];\n}\n\nreturn [null, msg, null];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2750,
        "y": 620,
        "wires": [
            [
                "recreate_wait_ready_log"
            ],
            [
                "recreate_wait_poll_delay"
            ],
            [
                "recreate_wait_timeout_log"
            ]
        ]
    },
    {
        "id": "recreate_wait_poll_delay",
        "type": "delay",
        "z": "a0840e5d7cd65ea0",
        "name": "poll ready",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2750,
        "y": 690,
        "wires": [
            [
                "recreate_wait_prepare"
            ]
        ]
    },
    {
        "id": "recreate_wait_ready_log",
        "type": "function",
        "z": "a0840e5d7cd65ea0",
        "name": "log ready",
        "func": "const logs = global.get('logs') || '';\nconst line = new Date().toISOString() + ' RECREATE : ' + (msg.wait_name || msg.wait_id) + ' ready<br>';\nglobal.set('logs', line + logs);\nmsg._waitDone = 'success';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2960,
        "y": 590,
        "wires": [
            [
                "677c1ef45acfb02d"
            ]
        ]
    },
    {
        "id": "recreate_wait_timeout_log",
        "type": "function",
        "z": "a0840e5d7cd65ea0",
        "name": "log timeout",
        "func": "const logs = global.get('logs') || '';\nconst timeout = Number(msg.wait_timeout || 30);\nconst detail = msg.wait_status ? (' status=' + msg.wait_status + ' operation=' + msg.wait_operation) : (' operation=' + msg.wait_operation);\nconst line = new Date().toISOString() + ' RECREATE : ' + (msg.wait_name || msg.wait_id) + ' timeout after ' + timeout + 's' + detail + ', stopped<br>';\nglobal.set('logs', line + logs);\nmsg._waitDone = 'timeout';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2960,
        "y": 650,
        "wires": [
            [
                "677c1ef45acfb02d"
            ]
        ]
    },
    {
        "id": "d9c660c69caba97c",
        "type": "http in",
        "z": "47309e7eb1ed7972",
        "name": "",
        "url": "/restart",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "23e3ee9359f3eb15",
                "a0e11f8d348f4a65"
            ]
        ]
    },
    {
        "id": "a0e11f8d348f4a65",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox ? config.netbox : (req.query.netbox ? req.query.netbox : $globalContext(\"config\").netbox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token ? config.token : (req.query.token ? req.query.token : $globalContext(\"config\").token)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "proxy",
                "pt": "msg",
                "to": "config.proxy ? config.proxy : (req.query.proxy ? req.query.proxy : $globalContext(\"config\").proxy)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "config.image",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "restart_version",
                "pt": "msg",
                "to": "config.restart_version",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "http",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "instance",
                "pt": "msg",
                "to": "config.instance",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "instanceShort",
                "pt": "msg",
                "to": "($contains(msg.instance, \".\") ? $substringBefore(msg.instance, \".\") : msg.instance)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "restart_mode",
                "pt": "msg",
                "to": "config.restart_mode",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 180,
        "wires": [
            [
                "a1c1b1a0f0040001"
            ]
        ]
    },
    {
        "id": "6aec21d061c2da7a",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "get hostid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/hosts/?name=\" & msg.hostname",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c7e0b77dfe548ff2",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "get container id",
        "rules": [
            {
                "t": "set",
                "p": "imageid",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/?image_id=\" & msg.imageid & \"&limit=200\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "apply_proxy_c6663711a72ec63e"
            ]
        ]
    },
    {
        "id": "c6663711a72ec63e",
        "type": "http request",
        "z": "47309e7eb1ed7972",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1290,
        "y": 260,
        "wires": [
            [
                "7daed88fc6423676"
            ]
        ]
    },
    {
        "id": "7daed88fc6423676",
        "type": "switch",
        "z": "47309e7eb1ed7972",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1530,
        "y": 260,
        "wires": [
            [
                "d4d7027979bfe448"
            ],
            []
        ]
    },
    {
        "id": "2b51638803c74211",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "restart container",
        "rules": [
            {
                "t": "set",
                "p": "results",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "wait_id",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "wait_name",
                "pt": "msg",
                "to": "payload.display ? payload.display : payload.name",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "wait_timeout",
                "pt": "msg",
                "to": "$number($globalContext(\"operationTimeoutSeconds\") ? $globalContext(\"operationTimeoutSeconds\") : 30)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"operation\": \"restart\",\t       \"id\": msg.payload.id\t   }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 360,
        "wires": [
            [
                "apply_proxy_e6f06c7e6d447ad6"
            ]
        ]
    },
    {
        "id": "e6f06c7e6d447ad6",
        "type": "http request",
        "z": "47309e7eb1ed7972",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1440,
        "y": 360,
        "wires": [
            [
                "restart_wait_prepare"
            ]
        ]
    },
    {
        "id": "1206f1148f917404",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "get imageid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?name=\" & msg.image & \"&version=\" & msg.restart_version & \"&limit=200\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 180,
        "wires": [
            [
                "apply_proxy_1ef666d9ba2191c1"
            ]
        ]
    },
    {
        "id": "1ef666d9ba2191c1",
        "type": "http request",
        "z": "47309e7eb1ed7972",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1360,
        "y": 180,
        "wires": [
            [
                "a97941218f17b88d"
            ]
        ]
    },
    {
        "id": "013b14aee24eebf9",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "a1c1b1a0f0030001"
            ]
        ]
    },
    {
        "id": "a97941218f17b88d",
        "type": "switch",
        "z": "47309e7eb1ed7972",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1530,
        "y": 180,
        "wires": [
            [
                "013b14aee24eebf9"
            ],
            []
        ]
    },
    {
        "id": "38b25596b8879610",
        "type": "split",
        "z": "47309e7eb1ed7972",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 480,
        "y": 360,
        "wires": [
            [
                "83ec24b3be755314"
            ]
        ]
    },
    {
        "id": "d4d7027979bfe448",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "$number($globalContext(\"operationTimeoutSeconds\") ? $globalContext(\"operationTimeoutSeconds\") : 30)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 300,
        "wires": [
            [
                "96e3b644172be37e",
                "6af54db44072d8c8",
                "8f40c26a58d47965"
            ]
        ]
    },
    {
        "id": "96e3b644172be37e",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1780,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "83ec24b3be755314",
        "type": "function",
        "z": "47309e7eb1ed7972",
        "name": "queue restart containers",
        "func": "const queue = context.get('queue') || [];\nlet busy = context.get('busy') || false;\n\nfunction next() {\n  if (queue.length === 0) {\n    context.set('busy', false);\n    context.set('queue', queue);\n    return null;\n  }\n\n  const nextMsg = queue.shift();\n  context.set('queue', queue);\n  context.set('busy', true);\n  return nextMsg;\n}\n\nif (msg._waitDone) {\n  if (msg._waitDone === 'timeout') {\n    context.set('queue', []);\n    context.set('busy', false);\n    return null;\n  }\n\n  context.set('busy', false);\n  return next();\n}\n\nqueue.push(msg);\ncontext.set('queue', queue);\n\nif (!busy) {\n  return next();\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 360,
        "wires": [
            [
                "2b51638803c74211"
            ]
        ]
    },
    {
        "id": "23e3ee9359f3eb15",
        "type": "http response",
        "z": "47309e7eb1ed7972",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "83a533c9ce37c823",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" RESTART  : \" & $string(msg.payload.display) & \" \" & msg.statusCode & \"<br>\" & msg.logs",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6af54db44072d8c8",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" RESTART  : \" & $string($count(msg.payload)) & \" container\" & ($count(msg.payload) = 1 ? \"\" : \"s\") & \" queued for restart<br>\" & msg.logs",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1780,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8f40c26a58d47965",
        "type": "delay",
        "z": "47309e7eb1ed7972",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "38b25596b8879610"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0030001",
        "type": "split",
        "z": "47309e7eb1ed7972",
        "name": "split images",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "c7e0b77dfe548ff2"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0040001",
        "type": "switch",
        "z": "47309e7eb1ed7972",
        "name": "restart mode",
        "property": "restart_mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "instance",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 80,
        "wires": [
            [
                "a1c1b1a0f0040002"
            ],
            [
                "1206f1148f917404"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0040002",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "get container by name",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/?name=\" & msg.instanceShort",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 80,
        "wires": [
            [
                "apply_proxy_a1c1b1a0f0040003"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0040003",
        "type": "http request",
        "z": "47309e7eb1ed7972",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1360,
        "y": 80,
        "wires": [
            [
                "a1c1b1a0f0040004"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0040004",
        "type": "switch",
        "z": "47309e7eb1ed7972",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1550,
        "y": 80,
        "wires": [
            [
                "d4d7027979bfe448"
            ],
            []
        ]
    },
    {
        "id": "apply_proxy_c6663711a72ec63e",
        "type": "subflow:subflow_apply_proxy",
        "z": "47309e7eb1ed7972",
        "name": "apply proxy",
        "x": 1050,
        "y": 260,
        "wires": [
            [
                "c6663711a72ec63e"
            ]
        ]
    },
    {
        "id": "apply_proxy_e6f06c7e6d447ad6",
        "type": "subflow:subflow_apply_proxy",
        "z": "47309e7eb1ed7972",
        "name": "apply proxy",
        "x": 1200,
        "y": 360,
        "wires": [
            [
                "e6f06c7e6d447ad6"
            ]
        ]
    },
    {
        "id": "apply_proxy_1ef666d9ba2191c1",
        "type": "subflow:subflow_apply_proxy",
        "z": "47309e7eb1ed7972",
        "name": "apply proxy",
        "x": 1120,
        "y": 180,
        "wires": [
            [
                "1ef666d9ba2191c1"
            ]
        ]
    },
    {
        "id": "apply_proxy_a1c1b1a0f0040003",
        "type": "subflow:subflow_apply_proxy",
        "z": "47309e7eb1ed7972",
        "name": "apply proxy",
        "x": 1120,
        "y": 80,
        "wires": [
            [
                "a1c1b1a0f0040003"
            ]
        ]
    },
    {
        "id": "restart_wait_prepare",
        "type": "function",
        "z": "47309e7eb1ed7972",
        "name": "wait container ready",
        "func": "const timeout = Number(msg.wait_timeout || 30);\nmsg.wait_deadline = msg.wait_deadline || (Date.now() + timeout * 1000);\nmsg.url = msg.netbox + '/api/plugins/docker/containers/' + msg.wait_id + '/';\nmsg.headers = {\n  Authorization: 'Token ' + msg.token,\n  Accept: 'application/json'\n};\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 430,
        "wires": [
            [
                "restart_apply_proxy_wait_get"
            ]
        ]
    },
    {
        "id": "restart_apply_proxy_wait_get",
        "type": "subflow:subflow_apply_proxy",
        "z": "47309e7eb1ed7972",
        "name": "apply proxy",
        "x": 1910,
        "y": 430,
        "wires": [
            [
                "restart_wait_get"
            ]
        ]
    },
    {
        "id": "restart_wait_get",
        "type": "http request",
        "z": "47309e7eb1ed7972",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 2130,
        "y": 430,
        "wires": [
            [
                "restart_wait_check"
            ]
        ]
    },
    {
        "id": "restart_wait_check",
        "type": "function",
        "z": "47309e7eb1ed7972",
        "name": "container ready?",
        "func": "function valueOf(value) {\n  if (value && typeof value === 'object') {\n    return String(value.value || value.label || value.display || value.name || '').toLowerCase();\n  }\n  return String(value || '').toLowerCase();\n}\n\nconst item = msg.payload && Array.isArray(msg.payload.results) ? msg.payload.results[0] : msg.payload;\nconst name = msg.wait_name || (item && (item.display || item.name)) || msg.wait_id;\nconst status = valueOf(item && item.status);\nconst operation = valueOf(item && item.operation);\nconst operationDone = !operation || operation === 'none' || operation === 'null';\nconst ready = status === 'running' && operationDone;\n\nmsg.wait_name = name;\nmsg.wait_status = status || 'unknown';\nmsg.wait_operation = operation || 'none';\n\nif (ready) {\n  return [msg, null, null];\n}\n\nif (Date.now() >= Number(msg.wait_deadline || 0)) {\n  return [null, null, msg];\n}\n\nreturn [null, msg, null];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2340,
        "y": 430,
        "wires": [
            [
                "restart_wait_ready_log"
            ],
            [
                "restart_wait_poll_delay"
            ],
            [
                "restart_wait_timeout_log"
            ]
        ]
    },
    {
        "id": "restart_wait_poll_delay",
        "type": "delay",
        "z": "47309e7eb1ed7972",
        "name": "poll ready",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2340,
        "y": 500,
        "wires": [
            [
                "restart_wait_prepare"
            ]
        ]
    },
    {
        "id": "restart_wait_ready_log",
        "type": "function",
        "z": "47309e7eb1ed7972",
        "name": "log ready",
        "func": "const logs = global.get('logs') || '';\nconst line = new Date().toISOString() + ' RESTART : ' + (msg.wait_name || msg.wait_id) + ' ready<br>';\nglobal.set('logs', line + logs);\nmsg._waitDone = 'success';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2550,
        "y": 400,
        "wires": [
            [
                "83ec24b3be755314"
            ]
        ]
    },
    {
        "id": "restart_wait_timeout_log",
        "type": "function",
        "z": "47309e7eb1ed7972",
        "name": "log timeout",
        "func": "const logs = global.get('logs') || '';\nconst timeout = Number(msg.wait_timeout || 30);\nconst detail = msg.wait_status ? (' status=' + msg.wait_status + ' operation=' + msg.wait_operation) : (' operation=' + msg.wait_operation);\nconst line = new Date().toISOString() + ' RESTART : ' + (msg.wait_name || msg.wait_id) + ' timeout after ' + timeout + 's' + detail + ', stopped<br>';\nglobal.set('logs', line + logs);\nmsg._waitDone = 'timeout';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2550,
        "y": 460,
        "wires": [
            [
                "83ec24b3be755314"
            ]
        ]
    },
    {
        "id": "444d125462e30efe",
        "type": "http in",
        "z": "64ed409ae244327b",
        "name": "",
        "url": "/delete",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "5109ddfa87f9eff2",
                "3241395b128eac06"
            ]
        ]
    },
    {
        "id": "5109ddfa87f9eff2",
        "type": "http response",
        "z": "64ed409ae244327b",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "3a570a8b367dbe4a",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "get hostid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/hosts/?name=\" & msg.hostname",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0bc452107b041894",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "stop container",
        "rules": [
            {
                "t": "set",
                "p": "container.id",
                "pt": "msg",
                "to": "payload.results[0].id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"operation\": \"stop\",\t       \"id\": msg.container.id\t   }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 180,
        "wires": [
            [
                "apply_proxy_48244cfac6e87985"
            ]
        ]
    },
    {
        "id": "48244cfac6e87985",
        "type": "http request",
        "z": "64ed409ae244327b",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 680,
        "y": 260,
        "wires": [
            [
                "70f49231324ec37b"
            ]
        ]
    },
    {
        "id": "ce466fc9782d3b86",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "delete container",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\" & msg.container.id & \"/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "DELETE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 260,
        "wires": [
            [
                "apply_proxy_68d767e300ed1980"
            ]
        ]
    },
    {
        "id": "68d767e300ed1980",
        "type": "http request",
        "z": "64ed409ae244327b",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1590,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "51d47d8a40445af3",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "get recordid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/cloudflare/dns/records/?name=\" & msg.instance",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 80,
        "wires": [
            [
                "apply_proxy_450f65ea867dc44e"
            ]
        ]
    },
    {
        "id": "450f65ea867dc44e",
        "type": "http request",
        "z": "64ed409ae244327b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1120,
        "y": 80,
        "wires": [
            [
                "9135b25f8c332ccd"
            ]
        ]
    },
    {
        "id": "9135b25f8c332ccd",
        "type": "switch",
        "z": "64ed409ae244327b",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1360,
        "y": 80,
        "wires": [
            [
                "5fceda08ca763358"
            ],
            []
        ]
    },
    {
        "id": "5fceda08ca763358",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/cloudflare/dns/records/\" & msg.payload.results[0].id & \"/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 80,
        "wires": [
            [
                "apply_proxy_16745e1a3e42d7d6"
            ]
        ]
    },
    {
        "id": "16745e1a3e42d7d6",
        "type": "http request",
        "z": "64ed409ae244327b",
        "name": "",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1550,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3241395b128eac06",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox ? config.netbox : (req.query.netbox ? req.query.netbox : $globalContext(\"config\").netbox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token ? config.token : (req.query.token ? req.query.token : $globalContext(\"config\").token)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "proxy",
                "pt": "msg",
                "to": "config.proxy ? config.proxy : (req.query.proxy ? req.query.proxy : $globalContext(\"config\").proxy)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "instance",
                "pt": "msg",
                "to": "config.instance",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "instanceShort",
                "pt": "msg",
                "to": "($contains(msg.instance, \".\") ? $substringBefore(msg.instance, \".\") : msg.instance)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "instanceZone",
                "pt": "msg",
                "to": "$substringAfter(msg.instance, \".\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "http",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 180,
        "wires": [
            [
                "90e279516261e3c3",
                "51d47d8a40445af3"
            ]
        ]
    },
    {
        "id": "90e279516261e3c3",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "get container id",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/?name=\" & msg.instanceShort",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "apply_proxy_b08a1029cbcb8fc8"
            ]
        ]
    },
    {
        "id": "b08a1029cbcb8fc8",
        "type": "http request",
        "z": "64ed409ae244327b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1120,
        "y": 180,
        "wires": [
            [
                "3c246a6ce6ebab03"
            ]
        ]
    },
    {
        "id": "3c246a6ce6ebab03",
        "type": "switch",
        "z": "64ed409ae244327b",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1360,
        "y": 180,
        "wires": [
            [
                "0bc452107b041894"
            ],
            []
        ]
    },
    {
        "id": "70f49231324ec37b",
        "type": "delay",
        "z": "64ed409ae244327b",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 260,
        "wires": [
            [
                "ce466fc9782d3b86"
            ]
        ]
    },
    {
        "id": "apply_proxy_48244cfac6e87985",
        "type": "subflow:subflow_apply_proxy",
        "z": "64ed409ae244327b",
        "name": "apply proxy",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "48244cfac6e87985"
            ]
        ]
    },
    {
        "id": "apply_proxy_68d767e300ed1980",
        "type": "subflow:subflow_apply_proxy",
        "z": "64ed409ae244327b",
        "name": "apply proxy",
        "x": 1350,
        "y": 260,
        "wires": [
            [
                "68d767e300ed1980"
            ]
        ]
    },
    {
        "id": "apply_proxy_450f65ea867dc44e",
        "type": "subflow:subflow_apply_proxy",
        "z": "64ed409ae244327b",
        "name": "apply proxy",
        "x": 880,
        "y": 80,
        "wires": [
            [
                "450f65ea867dc44e"
            ]
        ]
    },
    {
        "id": "apply_proxy_16745e1a3e42d7d6",
        "type": "subflow:subflow_apply_proxy",
        "z": "64ed409ae244327b",
        "name": "apply proxy",
        "x": 1310,
        "y": 140,
        "wires": [
            [
                "16745e1a3e42d7d6"
            ]
        ]
    },
    {
        "id": "apply_proxy_b08a1029cbcb8fc8",
        "type": "subflow:subflow_apply_proxy",
        "z": "64ed409ae244327b",
        "name": "apply proxy",
        "x": 880,
        "y": 180,
        "wires": [
            [
                "b08a1029cbcb8fc8"
            ]
        ]
    },
    {
        "id": "88b21ea7b4d7c5a4",
        "type": "http in",
        "z": "15790c4c601c21e4",
        "name": "",
        "url": "/webhook",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "803255bb20afb24f",
                "0f08ab41e9c9b1f2"
            ]
        ]
    },
    {
        "id": "803255bb20afb24f",
        "type": "http response",
        "z": "15790c4c601c21e4",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "0f08ab41e9c9b1f2",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "global",
                "to": "req.query",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a6666a2f6ba73d25",
        "type": "http in",
        "z": "15790c4c601c21e4",
        "name": "",
        "url": "/config",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "9eec14a7991f06f4"
            ]
        ]
    },
    {
        "id": "9eec14a7991f06f4",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 80,
        "wires": [
            [
                "743050cd7a1341c2"
            ]
        ]
    },
    {
        "id": "743050cd7a1341c2",
        "type": "http response",
        "z": "15790c4c601c21e4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "6ae579a913eb2719",
        "type": "http in",
        "z": "15790c4c601c21e4",
        "name": "",
        "url": "/dockerhub",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "b6d6a16a68ed30ec",
                "644c492e10fb8aab"
            ]
        ]
    },
    {
        "id": "b6d6a16a68ed30ec",
        "type": "http response",
        "z": "15790c4c601c21e4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "2791d3e1138cb626",
        "type": "inject",
        "z": "15790c4c601c21e4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"callback_url\":\"https://registry.hub.docker.com/u/saashup/curio.city/hook/e516e7b77b86461aa659013befa31d39/\",\"push_data\":{\"pusher\":\"saashup\",\"pushed_at\":1773402989,\"tag\":\"v0.34.0\",\"images\":[],\"media_type\":\"application/vnd.docker.container.image.v1+json\"},\"repository\":{\"status\":\"Active\",\"namespace\":\"saashup\",\"name\":\"curio.city\",\"repo_name\":\"saashup/curio.city\",\"repo_url\":\"https://hub.docker.com/r/saashup/curio.city\",\"description\":\"\",\"full_description\":\"# Curio.city — Guide\\n\\nInstance for every guide \\\\o/\\n\\n## Development\\nTo start the development server run:\\n```bash\\nbun run dev\\n```\\n\\nOpen http://localhost:3000/ with your browser to see the result.\\n\\n## E2E Tests\\n\\nWe use [Playwright](https://playwright.dev/) as E2E tests runner.\\n\\nRun the tests:\\n\\n1. Be sure your have project dependencies installed with `bun install`\\n2. Install headless browsers packages `bunx playwright install`\\n3. Start the Guide instance `bun run dev`\\n4. Exec the tests `bunx --bun playwright test tests/dom/`\\n\\n\",\"star_count\":0,\"is_private\":true,\"is_trusted\":false,\"is_official\":false,\"owner\":\"saashup\",\"date_created\":1723641910}}",
        "payloadType": "json",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "644c492e10fb8aab"
            ]
        ]
    },
    {
        "id": "644c492e10fb8aab",
        "type": "switch",
        "z": "15790c4c601c21e4",
        "name": "",
        "property": "payload.push_data.tag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "latest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "ee993f5a5dfd35f2"
            ]
        ]
    },
    {
        "id": "ee993f5a5dfd35f2",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "webhook",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox ? config.netbox : (req.query.netbox ? req.query.netbox : $globalContext(\"config\").netbox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token ? config.token : (req.query.token ? req.query.token : $globalContext(\"config\").token)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "proxy",
                "pt": "msg",
                "to": "config.proxy ? config.proxy : (req.query.proxy ? req.query.proxy : $globalContext(\"config\").proxy)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "payload.repository.repo_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "version",
                "pt": "msg",
                "to": "payload.push_data.tag",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?name=\" & msg.image",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "apply_proxy_e405f58e15b5b967"
            ]
        ]
    },
    {
        "id": "e405f58e15b5b967",
        "type": "http request",
        "z": "15790c4c601c21e4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1120,
        "y": 80,
        "wires": [
            [
                "fd1dbd967b25512f"
            ]
        ]
    },
    {
        "id": "fd1dbd967b25512f",
        "type": "split",
        "z": "15790c4c601c21e4",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1360,
        "y": 80,
        "wires": [
            [
                "cadad459bab9652f"
            ]
        ]
    },
    {
        "id": "f822d0b4fedbe21b",
        "type": "http request",
        "z": "15790c4c601c21e4",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1330,
        "y": 160,
        "wires": [
            [
                "5a73e730b3f35a75"
            ]
        ]
    },
    {
        "id": "489a611a0c60859d",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "results",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"host\": msg.results.host.id,\t   \"name\": msg.image,\t   \"version\": msg.version,\t   \"registry\": msg.results.registry.id\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 160,
        "wires": [
            [
                "apply_proxy_f822d0b4fedbe21b"
            ]
        ]
    },
    {
        "id": "83480b6c8438ab03",
        "type": "delay",
        "z": "15790c4c601c21e4",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1700,
        "y": 160,
        "wires": [
            [
                "4ab14ce3500f887e"
            ]
        ]
    },
    {
        "id": "5a73e730b3f35a75",
        "type": "switch",
        "z": "15790c4c601c21e4",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 160,
        "wires": [
            [
                "83480b6c8438ab03"
            ]
        ]
    },
    {
        "id": "4ab14ce3500f887e",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"netbox\":msg.netbox,\t   \"token\":msg.token,\t   \"hostname\":msg.results.host.display,\t   \"image\":msg.image,\t   \"oldversion\":msg.results.version,\t   \"version\":msg.version\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 160,
        "wires": [
            [
                "0fa3ca525b84162f"
            ]
        ]
    },
    {
        "id": "0fa3ca525b84162f",
        "type": "link out",
        "z": "15790c4c601c21e4",
        "name": "Webhook",
        "mode": "link",
        "links": [
            "79748666b38039f8"
        ],
        "x": 1905,
        "y": 100,
        "wires": []
    },
    {
        "id": "cadad459bab9652f",
        "type": "switch",
        "z": "15790c4c601c21e4",
        "name": "",
        "property": "payload.results.containers",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1600,
        "y": 80,
        "wires": [
            [
                "489a611a0c60859d"
            ],
            [
                "5e4e11a79f99617c"
            ]
        ]
    },
    {
        "id": "5e4e11a79f99617c",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "results",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\t   \"id\": msg.results.id, \"host\": msg.results.host.id,\t   \"name\": msg.image,\t   \"version\": msg.version,\t   \"registry\": msg.results.registry.id\t}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 240,
        "wires": [
            [
                "apply_proxy_6d490b545ad0dc4c"
            ]
        ]
    },
    {
        "id": "6d490b545ad0dc4c",
        "type": "http request",
        "z": "15790c4c601c21e4",
        "name": "",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1400,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "apply_proxy_e405f58e15b5b967",
        "type": "subflow:subflow_apply_proxy",
        "z": "15790c4c601c21e4",
        "name": "apply proxy",
        "x": 880,
        "y": 80,
        "wires": [
            [
                "e405f58e15b5b967"
            ]
        ]
    },
    {
        "id": "apply_proxy_f822d0b4fedbe21b",
        "type": "subflow:subflow_apply_proxy",
        "z": "15790c4c601c21e4",
        "name": "apply proxy",
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "f822d0b4fedbe21b"
            ]
        ]
    },
    {
        "id": "apply_proxy_6d490b545ad0dc4c",
        "type": "subflow:subflow_apply_proxy",
        "z": "15790c4c601c21e4",
        "name": "apply proxy",
        "x": 1160,
        "y": 240,
        "wires": [
            [
                "6d490b545ad0dc4c"
            ]
        ]
    },
    {
        "id": "b2c2d2e0f0060001",
        "type": "http in",
        "z": "15790c4c601c21e4",
        "name": "",
        "url": "/config",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "b2c2d2e0f0060002"
            ]
        ]
    },
    {
        "id": "b2c2d2e0f0060002",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "clear config",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "global",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "b2c2d2e0f0060003"
            ]
        ]
    },
    {
        "id": "b2c2d2e0f0060003",
        "type": "http response",
        "z": "15790c4c601c21e4",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "7d8824d42f0b1752",
        "type": "http in",
        "z": "21d6665eb37042e8",
        "name": "",
        "url": "/test",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "cd6d824315922ceb"
            ]
        ]
    },
    {
        "id": "e992ee6eb7559901",
        "type": "http response",
        "z": "21d6665eb37042e8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1360,
        "y": 80,
        "wires": []
    },
    {
        "id": "cd6d824315922ceb",
        "type": "json",
        "z": "21d6665eb37042e8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 400,
        "y": 80,
        "wires": [
            [
                "20461edbf6653a39"
            ]
        ]
    },
    {
        "id": "82ae9ffa34434352",
        "type": "http request",
        "z": "21d6665eb37042e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1120,
        "y": 80,
        "wires": [
            [
                "e992ee6eb7559901",
                "9322fc637b3ddea0"
            ]
        ]
    },
    {
        "id": "20461edbf6653a39",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.payload.netbox & \"/api/status/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.payload.token,\t   \"Accept\": \"application/json\"\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "proxy",
                "pt": "msg",
                "to": "payload.proxy",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 80,
        "wires": [
            [
                "apply_proxy_82ae9ffa34434352"
            ]
        ]
    },
    {
        "id": "d3055430fe5f774c",
        "type": "http in",
        "z": "21d6665eb37042e8",
        "name": "",
        "url": "/logs",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "4cb1f7781eae6e5b"
            ]
        ]
    },
    {
        "id": "4cb1f7781eae6e5b",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "2545a966a84f9381"
            ]
        ]
    },
    {
        "id": "2545a966a84f9381",
        "type": "http response",
        "z": "21d6665eb37042e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1120,
        "y": 180,
        "wires": []
    },
    {
        "id": "9322fc637b3ddea0",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" TEST  : \" & $string(msg.input) & \" \" & msg.statusCode & \"<br>\" & msg.logs",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "443460d30d26adbc",
        "type": "switch",
        "z": "21d6665eb37042e8",
        "name": "",
        "property": "req.query",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "last",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "cbfea97cbcf6167f"
            ],
            [
                "4cb1f7781eae6e5b"
            ]
        ]
    },
    {
        "id": "cbfea97cbcf6167f",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$split(msg.payload, /<br>/)[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 180,
        "wires": [
            [
                "d2b29dd41f01f36b"
            ]
        ]
    },
    {
        "id": "d2b29dd41f01f36b",
        "type": "switch",
        "z": "21d6665eb37042e8",
        "name": "",
        "property": "$millis() - (msg.payload ~> $substring(0, 24) ~> $toMillis())",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "lt",
                "v": "2200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "2545a966a84f9381"
            ],
            [
                "cb0189dbe7b882ec"
            ]
        ]
    },
    {
        "id": "cb0189dbe7b882ec",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "&nbsp;<br>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 180,
        "wires": [
            [
                "2545a966a84f9381"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0010001",
        "type": "http in",
        "z": "21d6665eb37042e8",
        "name": "",
        "url": "/instances",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "a1c1b1a0f0010002"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0010002",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "get instances",
        "rules": [
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox ? config.netbox : (req.query.netbox ? req.query.netbox : $globalContext(\"config\").netbox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token ? config.token : (req.query.token ? req.query.token : $globalContext(\"config\").token)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "proxy",
                "pt": "msg",
                "to": "config.proxy ? config.proxy : (req.query.proxy ? req.query.proxy : $globalContext(\"config\").proxy)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/?limit=1000\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Accept\": \"application/json\"\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 480,
        "wires": [
            [
                "apply_proxy_a1c1b1a0f0010003"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0010003",
        "type": "http request",
        "z": "21d6665eb37042e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 880,
        "y": 280,
        "wires": [
            [
                "a1c1b1a0f0010004"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0010004",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "format instances",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$sort($distinct($map(payload.results, function($v) { $v.display ? $v.display : $v.name })))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 280,
        "wires": [
            [
                "a1c1b1a0f0010005"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0010005",
        "type": "http response",
        "z": "21d6665eb37042e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1360,
        "y": 280,
        "wires": []
    },
    {
        "id": "a1c1b1a0f0020001",
        "type": "http in",
        "z": "21d6665eb37042e8",
        "name": "",
        "url": "/images",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "a1c1b1a0f0020002"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0020002",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "get images",
        "rules": [
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox ? config.netbox : (req.query.netbox ? req.query.netbox : $globalContext(\"config\").netbox)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token ? config.token : (req.query.token ? req.query.token : $globalContext(\"config\").token)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "proxy",
                "pt": "msg",
                "to": "config.proxy ? config.proxy : (req.query.proxy ? req.query.proxy : $globalContext(\"config\").proxy)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?limit=1000\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Accept\": \"application/json\"\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "apply_proxy_a1c1b1a0f0020003"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0020003",
        "type": "http request",
        "z": "21d6665eb37042e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 880,
        "y": 380,
        "wires": [
            [
                "a1c1b1a0f0020004"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0020004",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "format images",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$map(payload.results, function($v) { { \"name\": $v.name, \"version\": $v.version } })",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 380,
        "wires": [
            [
                "a1c1b1a0f0020005"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0020005",
        "type": "http response",
        "z": "21d6665eb37042e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1360,
        "y": 380,
        "wires": []
    },
    {
        "id": "a1c1b1a0f0050001",
        "type": "http in",
        "z": "21d6665eb37042e8",
        "name": "",
        "url": "/logs",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "a1c1b1a0f0050002"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0050002",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "clear logs",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 380,
        "wires": [
            [
                "a1c1b1a0f0050003"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0050003",
        "type": "http response",
        "z": "21d6665eb37042e8",
        "name": "",
        "statusCode": "204",
        "headers": {},
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "apply_proxy_82ae9ffa34434352",
        "type": "subflow:subflow_apply_proxy",
        "z": "21d6665eb37042e8",
        "name": "apply proxy",
        "x": 880,
        "y": 80,
        "wires": [
            [
                "82ae9ffa34434352"
            ]
        ]
    },
    {
        "id": "apply_proxy_a1c1b1a0f0010003",
        "type": "subflow:subflow_apply_proxy",
        "z": "21d6665eb37042e8",
        "name": "apply proxy",
        "x": 640,
        "y": 380,
        "wires": [
            [
                "a1c1b1a0f0010003"
            ]
        ]
    },
    {
        "id": "apply_proxy_a1c1b1a0f0020003",
        "type": "subflow:subflow_apply_proxy",
        "z": "21d6665eb37042e8",
        "name": "apply proxy",
        "x": 640,
        "y": 480,
        "wires": [
            [
                "a1c1b1a0f0020003"
            ]
        ]
    }
]