flows.json
[
    {
        "id": "d5158039611d4b98",
        "type": "tab",
        "label": "CREATE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0840e5d7cd65ea0",
        "type": "tab",
        "label": "RECREATE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "47309e7eb1ed7972",
        "type": "tab",
        "label": "RESTART",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "64ed409ae244327b",
        "type": "tab",
        "label": "DELETE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "15790c4c601c21e4",
        "type": "tab",
        "label": "WEBHOOK",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21d6665eb37042e8",
        "type": "tab",
        "label": "MGMT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d760e52dca2de1e8",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "f05b71c9da3eac07",
        "type": "http in",
        "z": "d5158039611d4b98",
        "name": "",
        "url": "/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "65a29b0cc15fece2",
                "2dcca2a38409fe43"
            ]
        ]
    },
    {
        "id": "2dcca2a38409fe43",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "hostname",
                "pt": "msg",
                "to": "config.hostname",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "version",
                "pt": "msg",
                "to": "config.version",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "network",
                "pt": "msg",
                "to": "config.network",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "var_env_key",
                "pt": "msg",
                "to": "config.var_env_key",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "var_env_value",
                "pt": "msg",
                "to": "config.var_env_value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "label_key",
                "pt": "msg",
                "to": "config.label_key",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "label_value",
                "pt": "msg",
                "to": "config.label_value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "volume_source",
                "pt": "msg",
                "to": "config.volume_source",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "volume_name",
                "pt": "msg",
                "to": "config.volume_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "instance",
                "pt": "msg",
                "to": "config.instance",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "instanceShort",
                "pt": "msg",
                "to": "($contains(msg.instance, \".\") ? $substringBefore(msg.instance, \".\") : msg.instance)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "instanceZone",
                "pt": "msg",
                "to": "$substringAfter(msg.instance, \".\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "config.image",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "http",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "458387080417f52a",
                "c9baa00a19d15c11"
            ]
        ]
    },
    {
        "id": "458387080417f52a",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "get hostid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/hosts/?name=\" & msg.hostname",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 140,
        "wires": [
            [
                "73f3e5f34c6f1b39"
            ]
        ]
    },
    {
        "id": "73f3e5f34c6f1b39",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 870,
        "y": 140,
        "wires": [
            [
                "c251aba3024d56f3"
            ]
        ]
    },
    {
        "id": "c251aba3024d56f3",
        "type": "switch",
        "z": "d5158039611d4b98",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 140,
        "wires": [
            [
                "c023f5d33cc1a8f6"
            ],
            []
        ]
    },
    {
        "id": "c023f5d33cc1a8f6",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "get imageid",
        "rules": [
            {
                "t": "set",
                "p": "host_id",
                "pt": "msg",
                "to": "payload.results[0].id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?name=\" & msg.image & \"&version=\" & msg.version & \"&host_id=\" & msg.host_id",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "01e92d6b0fcb76bf"
            ]
        ]
    },
    {
        "id": "01e92d6b0fcb76bf",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "62e25cd5752991bc"
            ]
        ]
    },
    {
        "id": "62e25cd5752991bc",
        "type": "switch",
        "z": "d5158039611d4b98",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "3cf9824c67655d6f"
            ],
            []
        ]
    },
    {
        "id": "b2b06675311655f7",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "configure container",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"host\": msg.host_id,\t   \"name\": msg.instanceShort,\t   \"image\": msg.input.results[0].id,\t   \"restart_policy\": \"unless-stopped\"\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 300,
        "wires": [
            [
                "9f73f45cd7734d7f"
            ]
        ]
    },
    {
        "id": "9f73f45cd7734d7f",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1130,
        "y": 300,
        "wires": [
            [
                "21f97ac5da6a1ea8"
            ]
        ]
    },
    {
        "id": "6d6c5f8c0e8bc79a",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "recreate container",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"operation\": \"recreate\",\t       \"id\": msg.container.id\t   }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 380,
        "wires": [
            [
                "e0ec5be02bee7c3e"
            ]
        ]
    },
    {
        "id": "e0ec5be02bee7c3e",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1310,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3cf9824c67655d6f",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "create volume",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/volumes/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\n  $defaultVolumes := [\n    {\n      \"host\": msg.host_id,\n      \"name\": msg.instanceShort & \"-data\"\n    }\n  ];\n  $formVolumes := $type(msg.volume_name) = \"array\" ? $append([], $filter($map(msg.volume_name, function($name) {\n    {\n      \"host\": msg.host_id,\n      \"name\": $name\n    }\n  }), function($volume) { $volume.name })) : (msg.volume_name ? [\n    {\n      \"host\": msg.host_id,\n      \"name\": msg.volume_name\n    }\n  ] : []);\n  $volumes := $count($formVolumes) > 0 ? $formVolumes : $defaultVolumes;\n  $count($volumes) = 1 ? $volumes[0] : $volumes\n)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "1233e36c1ed40b2c"
            ]
        ]
    },
    {
        "id": "1233e36c1ed40b2c",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "6692eaed65e25767"
            ]
        ]
    },
    {
        "id": "21f97ac5da6a1ea8",
        "type": "delay",
        "z": "d5158039611d4b98",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 360,
        "wires": [
            [
                "1d13b67923d9a132"
            ]
        ]
    },
    {
        "id": "ed7ddb2630845e28",
        "type": "delay",
        "z": "d5158039611d4b98",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 380,
        "wires": [
            [
                "6d6c5f8c0e8bc79a"
            ]
        ]
    },
    {
        "id": "ddfa991fa8e68500",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 650,
        "y": 380,
        "wires": [
            [
                "ed7ddb2630845e28"
            ]
        ]
    },
    {
        "id": "2bc10654858e4154",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "zoneid",
                "pt": "msg",
                "to": "payload.results[0].id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/cloudflare/dns/records/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t  \"zone\": msg.zoneid,\t  \"name\": msg.instance,\t  \"type\": \"CNAME\",\t  \"content\": msg.hostname & \".\" & msg.instanceZone,\t  \"ttl\": 60,\t  \"proxied\": true\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 60,
        "wires": [
            [
                "9a0bc1c9cbbaf0e2"
            ]
        ]
    },
    {
        "id": "9a0bc1c9cbbaf0e2",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1390,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c9baa00a19d15c11",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "get recordid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/cloudflare/dns/accounts/?name=\" & msg.instanceZone",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "b649b3aae6375b6d"
            ]
        ]
    },
    {
        "id": "b649b3aae6375b6d",
        "type": "http request",
        "z": "d5158039611d4b98",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 770,
        "y": 60,
        "wires": [
            [
                "08a921bf4f9a4dc0"
            ]
        ]
    },
    {
        "id": "08a921bf4f9a4dc0",
        "type": "switch",
        "z": "d5158039611d4b98",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 60,
        "wires": [
            [
                "2bc10654858e4154"
            ],
            []
        ]
    },
    {
        "id": "1d13b67923d9a132",
        "type": "change",
        "z": "d5158039611d4b98",
        "name": "configure container",
        "rules": [
            {
                "t": "set",
                "p": "container",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "volume",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\n  $defaultMounts := [\n    {\n      \"source\": \"/app/data\",\n      \"volume\": {\n        \"name\": msg.instanceShort & \"-data\"\n      },\n      \"read_only\": false\n    }\n  ];\n  $formMounts := $type(msg.volume_source) = \"array\" ? $append([], $filter($map(msg.volume_source, function($source, $i) {\n    {\n      \"source\": $source,\n      \"volume\": {\n        \"name\": msg.volume_name[$i]\n      },\n      \"read_only\": false\n    }\n  }), function($mount) { $mount.source and $mount.volume.name })) : (msg.volume_source and msg.volume_name ? [\n    {\n      \"source\": msg.volume_source,\n      \"volume\": {\n        \"name\": msg.volume_name\n      },\n      \"read_only\": false\n    }\n  ] : []);\n  $env := $type(msg.var_env_key) = \"array\" ? $append([], $filter($map(msg.var_env_key, function($key, $i) {\n    {\n      \"var_name\": $key,\n      \"value\": msg.var_env_value[$i]\n    }\n  }), function($item) { $item.var_name })) : (msg.var_env_key ? [\n    {\n      \"var_name\": msg.var_env_key,\n      \"value\": msg.var_env_value\n    }\n  ] : []);\n  $baseLabels := [\n    {\n      \"key\": \"traefik.enable\",\n      \"value\": \"true\"\n    },\n    {\n      \"key\": \"traefik.http.routers.\" & msg.instanceShort & \".rule\",\n      \"value\": \"Host(`\" & msg.instance & \"`)\"\n    },\n    {\n      \"key\": \"traefik.http.routers.\" & msg.instanceShort & \".entrypoints\",\n      \"value\": \"http\"\n    },\n    {\n      \"key\": \"traefik.http.services.\" & msg.instanceShort & \".loadbalancer.server.port\",\n      \"value\": \"3000\"\n    },\n    {\n      \"key\": \"traefik.http.middlewares.force-https-header.headers.customrequestheaders.X-Forwarded-Proto\",\n      \"value\": \"https\"\n    },\n    {\n      \"key\": \"traefik.http.middlewares.\" & msg.instanceShort & \".ipallowlist.sourcerange\",\n      \"value\": \"173.245.48.0/20, 103.21.244.0/22, 103.22.200.0/22, 103.31.4.0/22, 141.101.64.0/18, 108.162.192.0/18, 190.93.240.0/20, 188.114.96.0/20, 197.234.240.0/22, 198.41.128.0/17, 162.158.0.0/15, 104.16.0.0/13, 104.24.0.0/14, 172.64.0.0/13, 131.0.72.0/22, 2400:cb00::/32, 2606:4700::/32, 2803:f800::/32, 2405:b500::/32, 2405:8100::/32, 2a06:98c0::/29, 2c0f:f248::/32\"\n    },\n    {\n      \"key\": \"traefik.http.routers.\" & msg.instanceShort & \".middlewares\",\n      \"value\": \"force-https-header,\" & msg.instanceShort\n    }\n  ];\n  $extraLabels := $type(msg.label_key) = \"array\" ? $append([], $filter($map(msg.label_key, function($key, $i) {\n    {\n      \"key\": $key,\n      \"value\": msg.label_value[$i]\n    }\n  }), function($label) { $label.key })) : (msg.label_key ? [\n    {\n      \"key\": msg.label_key,\n      \"value\": msg.label_value\n    }\n  ] : []);\n  [\n    {\n      \"id\": msg.container.id,\n      \"host\": msg.host_id,\n      \"network_settings\": [\n        {\n          \"network\": {\n            \"host\": msg.host_id,\n            \"name\": msg.network\n          }\n        }\n      ],\n      \"mounts\": $count($formMounts) > 0 ? $formMounts : $defaultMounts,\n      \"env\": $env,\n      \"labels\": $append($baseLabels, $extraLabels)\n    }\n  ]\n)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "ddfa991fa8e68500"
            ]
        ]
    },
    {
        "id": "65a29b0cc15fece2",
        "type": "http response",
        "z": "d5158039611d4b98",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "6692eaed65e25767",
        "type": "delay",
        "z": "d5158039611d4b98",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 300,
        "wires": [
            [
                "b2b06675311655f7"
            ]
        ]
    },
    {
        "id": "6bc00df59f760543",
        "type": "http in",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "url": "/recreate",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "cde029ae5b763def",
                "04f9910eb4320af9"
            ]
        ]
    },
    {
        "id": "04f9910eb4320af9",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "hostname",
                "pt": "msg",
                "to": "config.hostname",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "config.image",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "oldversion",
                "pt": "msg",
                "to": "config.oldversion",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "version",
                "pt": "msg",
                "to": "config.version",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "http",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 80,
        "wires": [
            [
                "d837a0475dee45dc"
            ]
        ]
    },
    {
        "id": "6d92be16bf5c58de",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "get container id",
        "rules": [
            {
                "t": "set",
                "p": "imageid",
                "pt": "msg",
                "to": "oldimageid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/?image_id=\" & msg.imageid & \"&limit=200\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "ebf4cf8587e41ce3"
            ]
        ]
    },
    {
        "id": "ebf4cf8587e41ce3",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 670,
        "y": 280,
        "wires": [
            [
                "798b4e154e88c606"
            ]
        ]
    },
    {
        "id": "798b4e154e88c606",
        "type": "switch",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 280,
        "wires": [
            [
                "bc5907aebb882d2a"
            ],
            []
        ]
    },
    {
        "id": "0cdd6dd2e06ff3ae",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "configure container",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\t  \"id\": msg.payload.id,\t  \"image\": msg.newimageid\t}]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "a79cb768fa1fd609"
            ]
        ]
    },
    {
        "id": "a79cb768fa1fd609",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 650,
        "y": 360,
        "wires": [
            [
                "78be980cee8c08ab"
            ]
        ]
    },
    {
        "id": "78be980cee8c08ab",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "recreate container",
        "rules": [
            {
                "t": "set",
                "p": "results",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"operation\": \"recreate\",\t       \"id\": msg.payload.id\t   }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 360,
        "wires": [
            [
                "cd130deb569e8cb0"
            ]
        ]
    },
    {
        "id": "cd130deb569e8cb0",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1090,
        "y": 360,
        "wires": [
            [
                "090a84d8dfd47125"
            ]
        ]
    },
    {
        "id": "d837a0475dee45dc",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "get old imageid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?name=\" & msg.image & \"&version=\" & msg.oldversion & \"&limit=200\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 80,
        "wires": [
            [
                "3939693576595bc2"
            ]
        ]
    },
    {
        "id": "3939693576595bc2",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 850,
        "y": 80,
        "wires": [
            [
                "4a1bda7b502d8923"
            ]
        ]
    },
    {
        "id": "45e0558750363197",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "8f600b6e9c76d581"
            ]
        ]
    },
    {
        "id": "4a1bda7b502d8923",
        "type": "switch",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 80,
        "wires": [
            [
                "45e0558750363197"
            ],
            []
        ]
    },
    {
        "id": "9d7a8062c6f83014",
        "type": "split",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1260,
        "y": 280,
        "wires": [
            [
                "677c1ef45acfb02d"
            ]
        ]
    },
    {
        "id": "bc5907aebb882d2a",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "config.delay",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "9d7a8062c6f83014",
                "3ddef8030d0b6ef5"
            ]
        ]
    },
    {
        "id": "3e60e0d59090800a",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "get new imageid",
        "rules": [
            {
                "t": "set",
                "p": "oldimageid",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "host_id",
                "pt": "msg",
                "to": "payload.host.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?name=\" & msg.image & \"&version=\" & msg.version & \"&host_id=\" & msg.host_id",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 160,
        "wires": [
            [
                "b43091c7840cbd07"
            ]
        ]
    },
    {
        "id": "b43091c7840cbd07",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1090,
        "y": 160,
        "wires": [
            [
                "93b7140c9f5a21ef"
            ]
        ]
    },
    {
        "id": "1016efa8203a7ccc",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newimageid",
                "pt": "msg",
                "to": "payload.results[0].id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "6d92be16bf5c58de"
            ]
        ]
    },
    {
        "id": "93b7140c9f5a21ef",
        "type": "switch",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1250,
        "y": 160,
        "wires": [
            [
                "1016efa8203a7ccc"
            ],
            []
        ]
    },
    {
        "id": "677c1ef45acfb02d",
        "type": "delay",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": true,
        "outputs": 1,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "0cdd6dd2e06ff3ae"
            ]
        ]
    },
    {
        "id": "cde029ae5b763def",
        "type": "http response",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "3ddef8030d0b6ef5",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" RECREATE  : \" & $string($count(msg.payload)) & \"<br>\" & msg.logs",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "090a84d8dfd47125",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" RECREATE  : \" & $string(msg.payload.display) & \" \" & msg.statusCode & \"<br>\" & msg.logs",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "79748666b38039f8",
        "type": "link in",
        "z": "a0840e5d7cd65ea0",
        "name": "Recreate",
        "links": [
            "0fa3ca525b84162f"
        ],
        "x": 315,
        "y": 180,
        "wires": [
            [
                "04f9910eb4320af9"
            ]
        ]
    },
    {
        "id": "8f600b6e9c76d581",
        "type": "split",
        "z": "a0840e5d7cd65ea0",
        "name": "split old images",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 700,
        "y": 160,
        "wires": [
            [
                "3e60e0d59090800a"
            ]
        ]
    },
    {
        "id": "d9c660c69caba97c",
        "type": "http in",
        "z": "47309e7eb1ed7972",
        "name": "",
        "url": "/restart",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "23e3ee9359f3eb15",
                "a0e11f8d348f4a65"
            ]
        ]
    },
    {
        "id": "a0e11f8d348f4a65",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "config.image",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "restart_version",
                "pt": "msg",
                "to": "config.restart_version",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "http",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "instance",
                "pt": "msg",
                "to": "config.instance",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "instanceShort",
                "pt": "msg",
                "to": "($contains(msg.instance, \".\") ? $substringBefore(msg.instance, \".\") : msg.instance)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "restart_mode",
                "pt": "msg",
                "to": "config.restart_mode",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "a1c1b1a0f0040001"
            ]
        ]
    },
    {
        "id": "6aec21d061c2da7a",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "get hostid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/hosts/?name=\" & msg.hostname",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c7e0b77dfe548ff2",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "get container id",
        "rules": [
            {
                "t": "set",
                "p": "imageid",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/?image_id=\" & msg.imageid & \"&limit=200\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "c6663711a72ec63e"
            ]
        ]
    },
    {
        "id": "c6663711a72ec63e",
        "type": "http request",
        "z": "47309e7eb1ed7972",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 790,
        "y": 280,
        "wires": [
            [
                "7daed88fc6423676"
            ]
        ]
    },
    {
        "id": "7daed88fc6423676",
        "type": "switch",
        "z": "47309e7eb1ed7972",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 280,
        "wires": [
            [
                "d4d7027979bfe448"
            ],
            []
        ]
    },
    {
        "id": "2b51638803c74211",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "restart container",
        "rules": [
            {
                "t": "set",
                "p": "results",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"operation\": \"restart\",\t       \"id\": msg.payload.id\t   }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 360,
        "wires": [
            [
                "e6f06c7e6d447ad6"
            ]
        ]
    },
    {
        "id": "e6f06c7e6d447ad6",
        "type": "http request",
        "z": "47309e7eb1ed7972",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1030,
        "y": 360,
        "wires": [
            [
                "83a533c9ce37c823"
            ]
        ]
    },
    {
        "id": "1206f1148f917404",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "get imageid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?name=\" & msg.image & \"&version=\" & msg.restart_version & \"&limit=200\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "1ef666d9ba2191c1"
            ]
        ]
    },
    {
        "id": "1ef666d9ba2191c1",
        "type": "http request",
        "z": "47309e7eb1ed7972",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "a97941218f17b88d"
            ]
        ]
    },
    {
        "id": "013b14aee24eebf9",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 180,
        "wires": [
            [
                "a1c1b1a0f0030001"
            ]
        ]
    },
    {
        "id": "a97941218f17b88d",
        "type": "switch",
        "z": "47309e7eb1ed7972",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "013b14aee24eebf9"
            ],
            []
        ]
    },
    {
        "id": "38b25596b8879610",
        "type": "split",
        "z": "47309e7eb1ed7972",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "83ec24b3be755314"
            ]
        ]
    },
    {
        "id": "d4d7027979bfe448",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "config.delay",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 280,
        "wires": [
            [
                "96e3b644172be37e",
                "6af54db44072d8c8",
                "8f40c26a58d47965"
            ]
        ]
    },
    {
        "id": "96e3b644172be37e",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "83ec24b3be755314",
        "type": "delay",
        "z": "47309e7eb1ed7972",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": true,
        "outputs": 1,
        "x": 560,
        "y": 360,
        "wires": [
            [
                "2b51638803c74211"
            ]
        ]
    },
    {
        "id": "23e3ee9359f3eb15",
        "type": "http response",
        "z": "47309e7eb1ed7972",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "83a533c9ce37c823",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" RESTART  : \" & $string(msg.payload.display) & \" \" & msg.statusCode & \"<br>\" & msg.logs",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6af54db44072d8c8",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" RESTART  : \" & $string($count(msg.payload)) & \"<br>\" & msg.logs",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8f40c26a58d47965",
        "type": "delay",
        "z": "47309e7eb1ed7972",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1390,
        "y": 280,
        "wires": [
            [
                "38b25596b8879610"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0030001",
        "type": "split",
        "z": "47309e7eb1ed7972",
        "name": "split images",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 990,
        "y": 180,
        "wires": [
            [
                "c7e0b77dfe548ff2"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0040001",
        "type": "switch",
        "z": "47309e7eb1ed7972",
        "name": "restart mode",
        "property": "restart_mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "instance",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 120,
        "wires": [
            [
                "a1c1b1a0f0040002"
            ],
            [
                "1206f1148f917404"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0040002",
        "type": "change",
        "z": "47309e7eb1ed7972",
        "name": "get container by name",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/?name=\" & msg.instanceShort",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 100,
        "wires": [
            [
                "a1c1b1a0f0040003"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0040003",
        "type": "http request",
        "z": "47309e7eb1ed7972",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1120,
        "y": 100,
        "wires": [
            [
                "a1c1b1a0f0040004"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0040004",
        "type": "switch",
        "z": "47309e7eb1ed7972",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1190,
        "y": 180,
        "wires": [
            [
                "d4d7027979bfe448"
            ],
            []
        ]
    },
    {
        "id": "444d125462e30efe",
        "type": "http in",
        "z": "64ed409ae244327b",
        "name": "",
        "url": "/delete",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "5109ddfa87f9eff2",
                "3241395b128eac06"
            ]
        ]
    },
    {
        "id": "5109ddfa87f9eff2",
        "type": "http response",
        "z": "64ed409ae244327b",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 340,
        "y": 120,
        "wires": []
    },
    {
        "id": "3a570a8b367dbe4a",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "get hostid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/hosts/?name=\" & msg.hostname",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1a4f80814884a9fa",
        "type": "http request",
        "z": "64ed409ae244327b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 730,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c12a4584af903e7f",
        "type": "switch",
        "z": "64ed409ae244327b",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0bc452107b041894",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "stop container",
        "rules": [
            {
                "t": "set",
                "p": "container.id",
                "pt": "msg",
                "to": "payload.results[0].id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"operation\": \"stop\",\t       \"id\": msg.container.id\t   }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "48244cfac6e87985"
            ]
        ]
    },
    {
        "id": "48244cfac6e87985",
        "type": "http request",
        "z": "64ed409ae244327b",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 690,
        "y": 320,
        "wires": [
            [
                "70f49231324ec37b"
            ]
        ]
    },
    {
        "id": "ce466fc9782d3b86",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "delete container",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\" & msg.container.id & \"/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "DELETE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 320,
        "wires": [
            [
                "68d767e300ed1980"
            ]
        ]
    },
    {
        "id": "68d767e300ed1980",
        "type": "http request",
        "z": "64ed409ae244327b",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "51d47d8a40445af3",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "get recordid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/cloudflare/dns/records/?name=\" & msg.instance",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "450f65ea867dc44e"
            ]
        ]
    },
    {
        "id": "450f65ea867dc44e",
        "type": "http request",
        "z": "64ed409ae244327b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 770,
        "y": 60,
        "wires": [
            [
                "9135b25f8c332ccd"
            ]
        ]
    },
    {
        "id": "9135b25f8c332ccd",
        "type": "switch",
        "z": "64ed409ae244327b",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 60,
        "wires": [
            [
                "5fceda08ca763358"
            ],
            []
        ]
    },
    {
        "id": "5fceda08ca763358",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/cloudflare/dns/records/\" & msg.payload.results[0].id & \"/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 60,
        "wires": [
            [
                "16745e1a3e42d7d6"
            ]
        ]
    },
    {
        "id": "16745e1a3e42d7d6",
        "type": "http request",
        "z": "64ed409ae244327b",
        "name": "",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1390,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3241395b128eac06",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "instance",
                "pt": "msg",
                "to": "config.instance",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "instanceShort",
                "pt": "msg",
                "to": "($contains(msg.instance, \".\") ? $substringBefore(msg.instance, \".\") : msg.instance)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "instanceZone",
                "pt": "msg",
                "to": "$substringAfter(msg.instance, \".\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "http",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "90e279516261e3c3",
                "51d47d8a40445af3"
            ]
        ]
    },
    {
        "id": "90e279516261e3c3",
        "type": "change",
        "z": "64ed409ae244327b",
        "name": "get container id",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/?name=\" & msg.instanceShort",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 180,
        "wires": [
            [
                "b08a1029cbcb8fc8"
            ]
        ]
    },
    {
        "id": "b08a1029cbcb8fc8",
        "type": "http request",
        "z": "64ed409ae244327b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1330,
        "y": 180,
        "wires": [
            [
                "3c246a6ce6ebab03"
            ]
        ]
    },
    {
        "id": "3c246a6ce6ebab03",
        "type": "switch",
        "z": "64ed409ae244327b",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "0bc452107b041894"
            ],
            []
        ]
    },
    {
        "id": "70f49231324ec37b",
        "type": "delay",
        "z": "64ed409ae244327b",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 900,
        "y": 320,
        "wires": [
            [
                "ce466fc9782d3b86"
            ]
        ]
    },
    {
        "id": "88b21ea7b4d7c5a4",
        "type": "http in",
        "z": "15790c4c601c21e4",
        "name": "",
        "url": "/webhook",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "803255bb20afb24f",
                "0f08ab41e9c9b1f2"
            ]
        ]
    },
    {
        "id": "803255bb20afb24f",
        "type": "http response",
        "z": "15790c4c601c21e4",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "0f08ab41e9c9b1f2",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "global",
                "to": "req.query",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a6666a2f6ba73d25",
        "type": "http in",
        "z": "15790c4c601c21e4",
        "name": "",
        "url": "/config",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "9eec14a7991f06f4"
            ]
        ]
    },
    {
        "id": "9eec14a7991f06f4",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "743050cd7a1341c2"
            ]
        ]
    },
    {
        "id": "743050cd7a1341c2",
        "type": "http response",
        "z": "15790c4c601c21e4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "6ae579a913eb2719",
        "type": "http in",
        "z": "15790c4c601c21e4",
        "name": "",
        "url": "/dockerhub",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "b6d6a16a68ed30ec",
                "644c492e10fb8aab"
            ]
        ]
    },
    {
        "id": "b6d6a16a68ed30ec",
        "type": "http response",
        "z": "15790c4c601c21e4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 280,
        "wires": []
    },
    {
        "id": "2791d3e1138cb626",
        "type": "inject",
        "z": "15790c4c601c21e4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"callback_url\":\"https://registry.hub.docker.com/u/saashup/curio.city/hook/e516e7b77b86461aa659013befa31d39/\",\"push_data\":{\"pusher\":\"saashup\",\"pushed_at\":1773402989,\"tag\":\"v0.34.0\",\"images\":[],\"media_type\":\"application/vnd.docker.container.image.v1+json\"},\"repository\":{\"status\":\"Active\",\"namespace\":\"saashup\",\"name\":\"curio.city\",\"repo_name\":\"saashup/curio.city\",\"repo_url\":\"https://hub.docker.com/r/saashup/curio.city\",\"description\":\"\",\"full_description\":\"# Curio.city — Guide\\n\\nInstance for every guide \\\\o/\\n\\n## Development\\nTo start the development server run:\\n```bash\\nbun run dev\\n```\\n\\nOpen http://localhost:3000/ with your browser to see the result.\\n\\n## E2E Tests\\n\\nWe use [Playwright](https://playwright.dev/) as E2E tests runner.\\n\\nRun the tests:\\n\\n1. Be sure your have project dependencies installed with `bun install`\\n2. Install headless browsers packages `bunx playwright install`\\n3. Start the Guide instance `bun run dev`\\n4. Exec the tests `bunx --bun playwright test tests/dom/`\\n\\n\",\"star_count\":0,\"is_private\":true,\"is_trusted\":false,\"is_official\":false,\"owner\":\"saashup\",\"date_created\":1723641910}}",
        "payloadType": "json",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "644c492e10fb8aab"
            ]
        ]
    },
    {
        "id": "644c492e10fb8aab",
        "type": "switch",
        "z": "15790c4c601c21e4",
        "name": "",
        "property": "payload.push_data.tag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "latest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "ee993f5a5dfd35f2"
            ]
        ]
    },
    {
        "id": "ee993f5a5dfd35f2",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "webhook",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "payload.repository.repo_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "version",
                "pt": "msg",
                "to": "payload.push_data.tag",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?name=\" & msg.image",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 340,
        "wires": [
            [
                "e405f58e15b5b967"
            ]
        ]
    },
    {
        "id": "e405f58e15b5b967",
        "type": "http request",
        "z": "15790c4c601c21e4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 910,
        "y": 340,
        "wires": [
            [
                "fd1dbd967b25512f"
            ]
        ]
    },
    {
        "id": "fd1dbd967b25512f",
        "type": "split",
        "z": "15790c4c601c21e4",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload.results",
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "cadad459bab9652f"
            ]
        ]
    },
    {
        "id": "f822d0b4fedbe21b",
        "type": "http request",
        "z": "15790c4c601c21e4",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 650,
        "y": 400,
        "wires": [
            [
                "5a73e730b3f35a75"
            ]
        ]
    },
    {
        "id": "489a611a0c60859d",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "results",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"host\": msg.results.host.id,\t   \"name\": msg.image,\t   \"version\": msg.version,\t   \"registry\": msg.results.registry.id\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 400,
        "wires": [
            [
                "f822d0b4fedbe21b"
            ]
        ]
    },
    {
        "id": "83480b6c8438ab03",
        "type": "delay",
        "z": "15790c4c601c21e4",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1020,
        "y": 400,
        "wires": [
            [
                "4ab14ce3500f887e"
            ]
        ]
    },
    {
        "id": "5a73e730b3f35a75",
        "type": "switch",
        "z": "15790c4c601c21e4",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 400,
        "wires": [
            [
                "83480b6c8438ab03"
            ]
        ]
    },
    {
        "id": "4ab14ce3500f887e",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"netbox\":msg.netbox,\t   \"token\":msg.token,\t   \"hostname\":msg.results.host.display,\t   \"image\":msg.image,\t   \"oldversion\":msg.results.version,\t   \"version\":msg.version,\t   \"delay\":\"10000\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 460,
        "wires": [
            [
                "0fa3ca525b84162f"
            ]
        ]
    },
    {
        "id": "0fa3ca525b84162f",
        "type": "link out",
        "z": "15790c4c601c21e4",
        "name": "Webhook",
        "mode": "link",
        "links": [
            "79748666b38039f8"
        ],
        "x": 765,
        "y": 460,
        "wires": []
    },
    {
        "id": "cadad459bab9652f",
        "type": "switch",
        "z": "15790c4c601c21e4",
        "name": "",
        "property": "payload.results.containers",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "489a611a0c60859d"
            ],
            [
                "5e4e11a79f99617c"
            ]
        ]
    },
    {
        "id": "5e4e11a79f99617c",
        "type": "change",
        "z": "15790c4c601c21e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "results",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\t   \"id\": msg.results.id, \"host\": msg.results.host.id,\t   \"name\": msg.image,\t   \"version\": msg.version,\t   \"registry\": msg.results.registry.id\t}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "6d490b545ad0dc4c"
            ]
        ]
    },
    {
        "id": "6d490b545ad0dc4c",
        "type": "http request",
        "z": "15790c4c601c21e4",
        "name": "",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 510,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "7d8824d42f0b1752",
        "type": "http in",
        "z": "21d6665eb37042e8",
        "name": "",
        "url": "/test",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "cd6d824315922ceb"
            ]
        ]
    },
    {
        "id": "e992ee6eb7559901",
        "type": "http response",
        "z": "21d6665eb37042e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 100,
        "wires": []
    },
    {
        "id": "cd6d824315922ceb",
        "type": "json",
        "z": "21d6665eb37042e8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "20461edbf6653a39"
            ]
        ]
    },
    {
        "id": "82ae9ffa34434352",
        "type": "http request",
        "z": "21d6665eb37042e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 790,
        "y": 100,
        "wires": [
            [
                "e992ee6eb7559901",
                "9322fc637b3ddea0"
            ]
        ]
    },
    {
        "id": "20461edbf6653a39",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.payload.netbox & \"/api/status/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.payload.token,\t   \"Accept\": \"application/json\"\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "82ae9ffa34434352"
            ]
        ]
    },
    {
        "id": "d3055430fe5f774c",
        "type": "http in",
        "z": "21d6665eb37042e8",
        "name": "",
        "url": "/logs",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "4cb1f7781eae6e5b"
            ]
        ]
    },
    {
        "id": "4cb1f7781eae6e5b",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 360,
        "wires": [
            [
                "2545a966a84f9381"
            ]
        ]
    },
    {
        "id": "2545a966a84f9381",
        "type": "http response",
        "z": "21d6665eb37042e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1190,
        "y": 280,
        "wires": []
    },
    {
        "id": "9322fc637b3ddea0",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now() & \" TEST  : \" & $string(msg.input) & \" \" & msg.statusCode & \"<br>\" & msg.logs",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "443460d30d26adbc",
        "type": "switch",
        "z": "21d6665eb37042e8",
        "name": "",
        "property": "req.query",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "last",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "cbfea97cbcf6167f"
            ],
            [
                "4cb1f7781eae6e5b"
            ]
        ]
    },
    {
        "id": "cbfea97cbcf6167f",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$split(msg.payload, /<br>/)[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "d2b29dd41f01f36b"
            ]
        ]
    },
    {
        "id": "6b332cda48996404",
        "type": "inject",
        "z": "21d6665eb37042e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f109f382a72456d7",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "logs",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$join($filter($split($string(payload), \"<br>\"), function($v, $i) { $i < 500 }),\"<br>\") & \"<br>\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d2b29dd41f01f36b",
        "type": "switch",
        "z": "21d6665eb37042e8",
        "name": "",
        "property": "$millis() - (msg.payload ~> $substring(0, 24) ~> $toMillis())",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "lt",
                "v": "2200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "2545a966a84f9381"
            ],
            [
                "cb0189dbe7b882ec"
            ]
        ]
    },
    {
        "id": "cb0189dbe7b882ec",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "&nbsp;<br>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 300,
        "wires": [
            [
                "2545a966a84f9381"
            ]
        ]
    },
    {
        "id": "50244a7fd09e2224",
        "type": "switch",
        "z": "21d6665eb37042e8",
        "name": "",
        "property": "logs",
        "propertyType": "global",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a1c1b1a0f0010001",
        "type": "http in",
        "z": "21d6665eb37042e8",
        "name": "",
        "url": "/instances",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "a1c1b1a0f0010002"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0010002",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "get instances",
        "rules": [
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/?limit=1000\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Accept\": \"application/json\"\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "a1c1b1a0f0010003"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0010003",
        "type": "http request",
        "z": "21d6665eb37042e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 580,
        "y": 560,
        "wires": [
            [
                "a1c1b1a0f0010004"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0010004",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "format instances",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$sort($distinct($map(payload.results, function($v) { $v.display ? $v.display : $v.name })))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 560,
        "wires": [
            [
                "a1c1b1a0f0010005"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0010005",
        "type": "http response",
        "z": "21d6665eb37042e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "a1c1b1a0f0020001",
        "type": "http in",
        "z": "21d6665eb37042e8",
        "name": "",
        "url": "/images",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "a1c1b1a0f0020002"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0020002",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "get images",
        "rules": [
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?limit=1000\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Accept\": \"application/json\"\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 640,
        "wires": [
            [
                "a1c1b1a0f0020003"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0020003",
        "type": "http request",
        "z": "21d6665eb37042e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 580,
        "y": 640,
        "wires": [
            [
                "a1c1b1a0f0020004"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0020004",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "format images",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$map(payload.results, function($v) { { \"name\": $v.name, \"version\": $v.version } })",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 640,
        "wires": [
            [
                "a1c1b1a0f0020005"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0020005",
        "type": "http response",
        "z": "21d6665eb37042e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1000,
        "y": 640,
        "wires": []
    },
    {
        "id": "a1c1b1a0f0050001",
        "type": "http in",
        "z": "21d6665eb37042e8",
        "name": "",
        "url": "/logs",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "a1c1b1a0f0050002"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0050002",
        "type": "change",
        "z": "21d6665eb37042e8",
        "name": "clear logs",
        "rules": [
            {
                "t": "set",
                "p": "logs",
                "pt": "global",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 720,
        "wires": [
            [
                "a1c1b1a0f0050003"
            ]
        ]
    },
    {
        "id": "a1c1b1a0f0050003",
        "type": "http response",
        "z": "21d6665eb37042e8",
        "name": "",
        "statusCode": "204",
        "headers": {},
        "x": 560,
        "y": 720,
        "wires": []
    }
]
