flows.json
[
    {
        "id": "6a2996a3259d440a",
        "type": "tab",
        "label": "APP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0840e5d7cd65ea0",
        "type": "tab",
        "label": "RECREATE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "82e54e9cffdc52c0",
        "type": "template",
        "z": "6a2996a3259d440a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Form UI</title>\n  <style>\n    body {\n      font-family: \"Segoe UI\", Tahoma, Geneva, Verdana, sans-serif;\n      background-color: #f4f6f9;\n      padding: 40px;\n      display: flex;\n      justify-content: center;\n    }\n\n    .form-container {\n      background-color: #ffffff;\n      padding: 30px 40px;\n      border-radius: 12px;\n      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);\n      max-width: 500px;\n      width: 100%;\n    }\n\n    .form-container h2 {\n      margin-top: 0;\n      margin-bottom: 20px;\n      font-size: 24px;\n      color: #333;\n      text-align: center;\n    }\n\n    .form-group {\n      margin-bottom: 15px;\n    }\n\n    label {\n      display: block;\n      margin-bottom: 6px;\n      font-weight: 500;\n      color: #555;\n    }\n\n    input[type=\"text\"] {\n      width: 100%;\n      padding: 10px 12px;\n      border: 1px solid #ccc;\n      border-radius: 8px;\n      box-sizing: border-box;\n      font-size: 14px;\n    }\n\n    .button-row {\n      display: flex;\n      justify-content: flex-end;\n      gap: 10px;\n      margin-top: 20px;\n    }\n\n    .btn {\n      padding: 10px 20px;\n      border: none;\n      border-radius: 8px;\n      cursor: pointer;\n      font-size: 16px;\n      color: white;\n    }\n\n    .btn-save {\n      background-color: #007bff;\n    }\n\n    .btn-save:hover {\n      background-color: #0056b3;\n    }\n\n    .btn-upgrade {\n      background-color: #dc3545;\n    }\n\n    .btn-upgrade:hover {\n      background-color: #a71d2a;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"form-container\">\n    <form action=\"/\" method=\"post\">\n      <div class=\"form-group\">\n        <label for=\"netbox\">Netbox URL</label>\n        <input type=\"text\" value=\"{{payload.netbox}}\" id=\"netbox\" name=\"netbox\">\n      </div>\n\n      <div class=\"form-group\">\n        <label for=\"token\">Netbox Token</label>\n        <input type=\"text\" value=\"{{payload.token}}\" id=\"token\" name=\"token\">\n      </div>\n\n      <div class=\"form-group\">\n        <label for=\"hostname\">Host</label>\n        <input type=\"text\" value=\"{{payload.hostname}}\" id=\"hostname\" name=\"hostname\">\n      </div>\n\n      <div class=\"form-group\">\n        <label for=\"image\">Image Name</label>\n        <input type=\"text\" value=\"{{payload.image}}\" id=\"image\" name=\"image\">\n      </div>\n\n      <div class=\"form-group\">\n        <label for=\"oldversion\">Old Version</label>\n        <input type=\"text\" value=\"{{payload.oldversion}}\" id=\"oldversion\" name=\"oldversion\">\n      </div>\n\n      <div class=\"form-group\">\n        <label for=\"version\">New Version</label>\n        <input type=\"text\" value=\"{{payload.version}}\" id=\"version\" name=\"version\">\n      </div>\n\n      <div class=\"button-row\">\n        <input type=\"submit\" class=\"btn btn-save\" value=\"Save\">\n    </form>\n    <form action=\"/exec\" method=\"get\">\n        <input type=\"submit\" class=\"btn btn-upgrade\" value=\"Recreate\">\n      </div>\n    </form>\n  </div>\n</body>\n</html>\n",
        "output": "str",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "18339b1cabab1a0a"
            ]
        ]
    },
    {
        "id": "b0a233abd5f824b3",
        "type": "http in",
        "z": "6a2996a3259d440a",
        "name": "",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "19b02ec7e4b405bd"
            ]
        ]
    },
    {
        "id": "19b02ec7e4b405bd",
        "type": "change",
        "z": "6a2996a3259d440a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "82e54e9cffdc52c0"
            ]
        ]
    },
    {
        "id": "18339b1cabab1a0a",
        "type": "http response",
        "z": "6a2996a3259d440a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "b15d2435672fd9f8",
        "type": "http in",
        "z": "6a2996a3259d440a",
        "name": "",
        "url": "/",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "cf7b6ca90362062a"
            ]
        ]
    },
    {
        "id": "fdff38112d54d601",
        "type": "http response",
        "z": "6a2996a3259d440a",
        "name": "",
        "statusCode": "302",
        "headers": {
            "location": "/"
        },
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "cf7b6ca90362062a",
        "type": "change",
        "z": "6a2996a3259d440a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config",
                "pt": "global",
                "to": "config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "fdff38112d54d601"
            ]
        ]
    },
    {
        "id": "f9bc478e2bbd17a7",
        "type": "change",
        "z": "6a2996a3259d440a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "global",
                "to": "config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "21685be9ed140a63",
        "type": "inject",
        "z": "6a2996a3259d440a",
        "name": "Init Default",
        "props": [
            {
                "p": "config.netbox",
                "v": "https://paashup.cloud",
                "vt": "str"
            },
            {
                "p": "config.token",
                "v": "token",
                "vt": "str"
            },
            {
                "p": "config.hostname",
                "v": "server-1",
                "vt": "str"
            },
            {
                "p": "config.image",
                "v": "saashup/demo",
                "vt": "str"
            },
            {
                "p": "config.version",
                "v": "v1.3.0",
                "vt": "str"
            },
            {
                "p": "config.oldversion",
                "v": "v1.4.0",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "f9bc478e2bbd17a7"
            ]
        ]
    },
    {
        "id": "6bc00df59f760543",
        "type": "http in",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "url": "/exec",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "04f9910eb4320af9"
            ]
        ]
    },
    {
        "id": "04f9910eb4320af9",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "netbox",
                "pt": "msg",
                "to": "config.netbox",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "config.token",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "hostname",
                "pt": "msg",
                "to": "config.hostname",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "config.image",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "oldversion",
                "pt": "msg",
                "to": "config.oldversion",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "version",
                "pt": "msg",
                "to": "config.version",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "http",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "848837fe325aa97b"
            ]
        ]
    },
    {
        "id": "848837fe325aa97b",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "get hostid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/hosts/?name=\" & msg.hostname",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "5f226b45fab8dfe5"
            ]
        ]
    },
    {
        "id": "5f226b45fab8dfe5",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 220,
        "wires": [
            [
                "a67048335ae6f4b6"
            ]
        ]
    },
    {
        "id": "a67048335ae6f4b6",
        "type": "switch",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 220,
        "wires": [
            [
                "3e60e0d59090800a"
            ],
            [
                "6e95a53f6ce1871a"
            ]
        ]
    },
    {
        "id": "6d92be16bf5c58de",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "get container id",
        "rules": [
            {
                "t": "set",
                "p": "config.host",
                "pt": "global",
                "to": "payload.results[0].id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "config.host",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "imageid",
                "pt": "msg",
                "to": "payload.results[0].id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & $encodeUrl(\"/api/plugins/docker/containers/?image_id=\") & msg.imageid",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 460,
        "wires": [
            [
                "ebf4cf8587e41ce3"
            ]
        ]
    },
    {
        "id": "ebf4cf8587e41ce3",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 460,
        "wires": [
            [
                "798b4e154e88c606"
            ]
        ]
    },
    {
        "id": "798b4e154e88c606",
        "type": "switch",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 460,
        "wires": [
            [
                "bc5907aebb882d2a"
            ],
            [
                "a303310397684374"
            ]
        ]
    },
    {
        "id": "d3d0e2a1b88093ef",
        "type": "inject",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "04f9910eb4320af9"
            ]
        ]
    },
    {
        "id": "0cdd6dd2e06ff3ae",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "configure container",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"id\": msg.payload.id,\t       \"image\": msg.newimageid\t   }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "a79cb768fa1fd609"
            ]
        ]
    },
    {
        "id": "a79cb768fa1fd609",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 540,
        "wires": [
            [
                "78be980cee8c08ab"
            ]
        ]
    },
    {
        "id": "78be980cee8c08ab",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "recreate container",
        "rules": [
            {
                "t": "set",
                "p": "results",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/containers/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   {\t       \"operation\": \"recreate\",\t       \"id\": msg.payload.id\t   }\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 540,
        "wires": [
            [
                "cd130deb569e8cb0"
            ]
        ]
    },
    {
        "id": "cd130deb569e8cb0",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c154c9993f6ae756",
        "type": "http response",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "statusCode": "302",
        "headers": {
            "location": "/"
        },
        "x": 1200,
        "y": 180,
        "wires": []
    },
    {
        "id": "d837a0475dee45dc",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "get imageid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?name=\" & msg.image & \"&version=\" & msg.oldversion",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "3939693576595bc2"
            ]
        ]
    },
    {
        "id": "3939693576595bc2",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 400,
        "wires": [
            [
                "4a1bda7b502d8923"
            ]
        ]
    },
    {
        "id": "45e0558750363197",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "imageid",
                "pt": "msg",
                "to": "payload.results[0].id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "6d92be16bf5c58de"
            ]
        ]
    },
    {
        "id": "4a1bda7b502d8923",
        "type": "switch",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "45e0558750363197"
            ],
            [
                "a303310397684374"
            ]
        ]
    },
    {
        "id": "9d7a8062c6f83014",
        "type": "split",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1070,
        "y": 460,
        "wires": [
            [
                "677c1ef45acfb02d"
            ]
        ]
    },
    {
        "id": "bc5907aebb882d2a",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 460,
        "wires": [
            [
                "9d7a8062c6f83014",
                "bfb586da4d7113d1"
            ]
        ]
    },
    {
        "id": "b11745e77189e30e",
        "type": "http response",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 1260,
        "y": 360,
        "wires": []
    },
    {
        "id": "bfb586da4d7113d1",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "b11745e77189e30e"
            ]
        ]
    },
    {
        "id": "a303310397684374",
        "type": "http response",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "statusCode": "404",
        "headers": {},
        "x": 1080,
        "y": 420,
        "wires": []
    },
    {
        "id": "3e60e0d59090800a",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "get imageid",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.netbox & \"/api/plugins/docker/images/?name=\" & msg.image & \"&version=\" & msg.version",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\": \"Token \" & msg.token,\t   \"Content-Type\": \"application/json\"\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "b43091c7840cbd07"
            ]
        ]
    },
    {
        "id": "b43091c7840cbd07",
        "type": "http request",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 300,
        "wires": [
            [
                "93b7140c9f5a21ef"
            ]
        ]
    },
    {
        "id": "1016efa8203a7ccc",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newimageid",
                "pt": "msg",
                "to": "payload.results[0].id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 300,
        "wires": [
            [
                "d837a0475dee45dc"
            ]
        ]
    },
    {
        "id": "93b7140c9f5a21ef",
        "type": "switch",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "1016efa8203a7ccc"
            ],
            [
                "6e95a53f6ce1871a"
            ]
        ]
    },
    {
        "id": "677c1ef45acfb02d",
        "type": "delay",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 540,
        "wires": [
            [
                "0cdd6dd2e06ff3ae"
            ]
        ]
    },
    {
        "id": "6e95a53f6ce1871a",
        "type": "change",
        "z": "a0840e5d7cd65ea0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 260,
        "wires": [
            [
                "c154c9993f6ae756"
            ]
        ]
    }
]